<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details=""
              dense
              placeholder="Search"
              @keydown.enter="getClientsReport"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsReport">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="3"
          class="d-sm-flex align-center justify-end ">
          <v-select
            v-model="selectedFilter"
            dense
            hide-details=""
            outlined
            class="rounded-lg filter-input"
            :items="filterItems"></v-select>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="my-card table-card d-flex flex-column ">
      <div>
        <div class="pa-3 ">
          <h2>
            Restaurant Summary
          </h2>
        </div>
        <v-row class="align-center ma-0 ">
          <div
            v-if="selectedFilter !== 'dateRange'"
            class="font-weight-medium px-3 mb-2">
            <div v-if="selectedFilter === 'toDay'">
              {{ date.startDate | toDate }}
            </div>
            <div v-else>
              {{ date.startDate | toDate }} - {{ date.endDate | toDate }}
            </div>
          </div>
          <v-col
            v-else
            class="d-flex align-center pa-0"
            cols="12"
            sm="6">
            <v-col
              cols="12"
              sm="4">
              <v-text-field
                v-model="date.startDate"
                outlined
                dense
                hide-details=""
                type="date"
                :max="date.endDate"></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="1">
              <div class="text-center">
                To
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <v-text-field
                v-model="date.endDate"
                outlined
                dense
                hide-details=""
                type="date"
                :min="date.startDate"></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <v-btn
                icon
                color="primary"
                @click="getClientsReport">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-col>
          </v-col>
        </v-row>

        <v-data-table
          :loading="loading"
          :headers="headers"
          hide-default-footer
          :items="itemList"
          :items-per-page="-1"
          class="elevation-0 table"
          :page="page">
          <template #[`item.totalOrderCounting`]="{item}">
            {{ item.totalOrderCounting | separator }}
          </template>
          <template #[`item.totalGrossSales`]="{item}">
            $ {{ item.totalGrossSales | separator }}
          </template>

          <template #[`item.totalNetSales`]="{item}">
            $ {{ item.totalNetSales | separator }}
          </template>
        </v-data-table>
        <div class="d-flex justify-end">
          <v-pagination
            v-model="page"
            class="elevation-0"
            :length="allPages"
          ></v-pagination>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import ReportProvider from '../../../resources/ReportProvider'

const reportService = new ReportProvider()

export default {
  name: 'ClientListPage',
  filters: {
    toRole (val) {
      if (!val) return 'Waiter'

      return val
    },
    toStatus (val) {
      if (!val) return '-'

      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    },
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('DD MMM YYYY')
    }
  },
  data () {
    return {
      searchText: '',
      page: 1,
      allPages: 1,
      headers: [{
        text: ' Restaurant Name',
        value: 'name'
      },
      {
        text: 'Total Order ',
        value: 'totalOrder'
      },
      {
        text: 'Gross Sale',
        value: 'grossSale'
      },
      {
        text: 'Net ',
        value: 'net'
      }
      ],
      itemList: [],
      loading: false,
      date: {
        startDate: dayjs(new Date()).format('YYYY-MM-DD'),
        endDate: dayjs(new Date()).format('YYYY-MM-DD')
      },
      selectedFilter: 'toDay',
      filterItems: [{
        text: 'To Day',
        value: 'toDay'
      },
      {
        text: 'This Week',
        value: 'thisWeek'
      },
      {
        text: 'This Month',
        value: 'thisMonth'
      },
      {
        text: 'This Year',
        value: 'thisYear'
      },
      {
        text: 'Date Range',
        value: 'dateRange'
      }
      ]
    }
  },
  watch: {
    page () {
      this.getClientsReport()
    },
    selectedFilter () {
      if (this.selectedFilter === 'toDay') {
        this.date.startDate = dayjs(new Date()).format('YYYY-MM-DD')
        this.date.endDate = dayjs(new Date()).format('YYYY-MM-DD')
        return this.getClientsReport()
      }

      if (this.selectedFilter === 'thisWeek') {
        this.date.startDate = dayjs(new Date()).startOf('week').format('YYYY-MM-DD')
        this.date.endDate = dayjs(new Date()).endOf('week').format('YYYY-MM-DD')
        return this.getClientsReport()
      }

      if (this.selectedFilter === 'thisMonth') {
        this.date.startDate = dayjs(new Date()).startOf('month').format('YYYY-MM-DD')
        this.date.endDate = dayjs(new Date()).endOf('month').format('YYYY-MM-DD')
        return this.getClientsReport()
      }

      if (this.selectedFilter === 'thisYear') {
        this.date.startDate = dayjs(new Date()).startOf('year').format('YYYY-MM-DD')
        this.date.endDate = dayjs(new Date()).endOf('year').format('YYYY-MM-DD')
        return this.getClientsReport()
      }

      if (this.selectedFilter === 'dateRange') {
        this.date.startDate = dayjs(new Date()).startOf('week').format('YYYY-MM-DD')
        this.date.endDate = dayjs(new Date()).endOf('week').format('YYYY-MM-DD')
        return this.getClientsReport()
      }

      return this.getClientsReport()
    }
  },
  mounted () {
    // this.getClientsReport()
  },
  methods: {
    async getClientsReport () {
      try {
        this.loading = true
        const {
          data
        } = await reportService.getClientReport({
          page: this.page,
          limit: 10,
          search: this.searchText,
          startDate: `${this.date.startDate}`,
          endDate: `${this.date.endDate}`
        })
        this.clientList = data.results
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }

  }
}
</script>

<style lang="scss" scoped>
.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;
  height: 600px;
  overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.my-card {
  border-radius: 8px;
}
</style>
