<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details=""
              dense
              placeholder="Search"
              @keydown.enter="getClientsList"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsList">
              Search
            </v-btn>
          </div>
        </v-col>

        <!-- <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end ">
          <v-btn
            outlined
            color="#1E2546"
            class="font-weight-light   text-none rounded-lg"
            to="/client/add"
          >
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create Client
          </v-btn>
        </v-col> -->
      </v-row>
    </v-card>

    <v-card class="my-card table-card d-flex flex-column ">
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="clientList"
        :items-per-page="10"
        class="elevation-0 table"
        :page="page">
        <template #[`item.role`]="{ item }">
          <v-chip
            label
            small
            dark
            color="#B2CC53">
            {{ item.role | toRole }}
          </v-chip>
        </template>

        <template #[`item.name`]="{item}">
          <v-btn
            text
            class="text-none primary--text"
            :to="`/client/detail/${item.id}`">
            {{ item.name }}
          </v-btn>
        </template>

        <template #[`item.status`]="{item}">
          <div :class="statusColor(item.status)">
            {{ item.status | toStatus }}
          </div>
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-btn
              icon
              :to="`/client/add/${item.id}`"
            >
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>

            <client-delete-modal
              :client-info="item"
              @deleted="deleted" />
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import ClientProvider from '../../../resources/ClientProvider'
import ClientDeleteModal from '../components/ClientDeleteModal.vue'

const clientService = new ClientProvider()
export default {
  name: 'ClientListPage',
  components: {
    ClientDeleteModal
  },
  filters: {
    toRole (val) {
      if (!val) return 'Waiter'

      return val
    },
    toStatus (val) {
      if (!val) return '-'

      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    }
  },
  data () {
    return {
      searchText: '',
      page: 1,
      allPages: 2,
      headers: [

        {
          text: 'Restaurant Name',
          value: 'name'
        },
        {
          text: 'State',
          value: 'address.state'
        },
        {
          text: 'Phone Number',
          value: 'tel'
        },
        {
          text: 'Email',
          value: 'email'
        },
        // {
        //   text: 'Roles',
        //   value: 'role'
        // },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Manage',
          value: 'action'
        }
      ],
      clientList: [{
        name: 'winnie steak house',
        address: {
          state: 'texas'
        },
        tel: '4568782',
        email: 'steakhouse@email.com',
        status: 'active'

      },
      {
        name: 'winnie steak house',
        address: {
          state: 'texas'
        },
        tel: '4568782',
        email: 'steakhouse@email.com',
        status: 'active'

      },
      {
        name: 'winnie steak house',
        address: {
          state: 'texas'
        },
        tel: '4568782',
        email: 'steakhouse@email.com',
        status: 'active'

      }, {
        name: 'winnie steak house',
        address: {
          state: 'texas'
        },
        tel: '4568782',
        email: 'steakhouse@email.com',
        status: 'active'

      }],
      loading: false
    }
  },
  mounted () {
    // this.getClientsList()
  },
  methods: {
    deleted () {
      this.getClientsList()
    },
    async getClientsList () {
      try {
        this.loading = true
        const { data } = await clientService.getClients({
          page: 1,
          limit: 10,
          search: this.searchText
        })
        this.clientList = data.results
      } catch (err) {
        console.log(err)
      } finally {
        this.loading = false
      }
    },
    statusColor (status) {
      console.log(status)
      if (status === 'active') {
        return 'activeColor'
      }

      if (status === 'suspended') {
        return 'suspendedColor'
      }

      return 'suspendedColor'
    }
  }
}
</script>

<style lang="scss" scoped>
.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;
  height: 600px;
  overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

</style>
