<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edite Client' : 'Create Client' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"
      ></v-skeleton-loader>

      <v-form
        v-if="!loading"
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.name"
              placeholder="Input Name"
              hide-details
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Tel
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.tel"
              :rules="formValidate.tel"
              placeholder="Input Tel"
              hide-spin-buttons
              dense
              type="number"
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Email
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.email"
              :rules="formValidate.email"
              placeholder="Input Email"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Address
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-textarea
              v-model.trim="form.address.address"
              :rules="formValidate.address"
              placeholder="Input Address"
              dense
              outlined
              hide-details></v-textarea>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Sub District
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.address.subDistrict"
              :rules="formValidate.address"
              placeholder="Input Sub District"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            District
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.address.district"
              :rules="formValidate.address"
              placeholder="Input District"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Province
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.address.province"
              :rules="formValidate.address"
              placeholder="Input Province"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Post Code
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.address.postcode"
              type="number"
              hide-spin-buttons
              :rules="formValidate.address"
              placeholder="Input Post Code"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Note
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-textarea
              v-model.trim="form.address.note"
              placeholder="Input Note"
              dense
              outlined
              hide-details></v-textarea>
          </v-col>
        </v-row>

        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            User Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="swicthState"
                class="activeColor">Active</span>
              <span
                v-if="!swicthState"
                class="suspendedColor">Suspended</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="swicthState"
                  dense
                  inset
                  color="#6FCF97"
                  @change="mapSwicth"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row> -->

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              color="primary"
              :loading="processing"
              class="mr-3"
              type="submit"
            >
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/client"
            >
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import ClientProvider from '@/resources/ClientProvider'

const clientService = new ClientProvider()

export default {
  name: 'ClientAddPage',
  data () {
    return {
      loading: false,
      swicthState: true,
      form: {
        // status: 'active',
        name: '',
        address: {
          address: '',
          subDistrict: '',
          district: '',
          province: '',
          postcode: '',
          note: ''
        },

        tel: '',
        email: ''
      },
      processing: false,
      formValid: false,
      formValidate: {
        name: [
          (val) => !!val || 'Required'
        ],
        lastName: [
          (val) => !!val || 'Required'
        ],
        tel: [
          (val) => !!val || 'Required'
        ],
        passCode: [
          (val) => !!val || 'Required',
          (val) => val.length === 6 || '6 character'
        ],
        role: [
          (val) => !!val || 'Required'
        ],
        email: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ]
      }

    }
  },
  computed: {
    clientId () {
      return this.$route?.params?.clientId || null
    },
    isUpdate () {
      return !!this.clientId
    }
  },
  mounted () {
    if (this.isUpdate) {
      this.getClientInfo()
    }
  },
  methods: {
    // mapSwicth () {
    //   if (this.swicthState) {
    //     this.form.status = 'active'
    //   } else {
    //     this.form.status = 'inactive'
    //   }
    // },
    async submit () {
      try {
        this.processing = true
        if (this.isUpdate) {
          await clientService.updateClient(
            this.clientId,
            this.form
          )
        } else {
          await clientService.createClient(this.form)
        }
        this.$router.push('/client')
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.processing = false
      }
    },
    async getClientInfo () {
      try {
        this.loading = true
        const { data } = await clientService.getClientById(this.clientId)

        this.form = data
        if (data.status === 'active') {
          this.swicthState = true
        } else {
          this.swicthState = false
        }
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
