<template>
  <div>
    <div>
      <v-btn
        color="primary"
        icon
        @click="$router.go(-1)">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
    </div>
    <v-card
      class="my-card table-card px-8 py-3"
      elevation="1">
      <div>
        <h3>
          Restaurant Profile
        </h3>

        <div class="mt-2 ">
          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                Name :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.name }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                DBA :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.name }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                EIN :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.name }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                Address  :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.address }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                City  :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.address }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                State  :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.address }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                Zip Code  :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.address }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                Phone  :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.tel }}
              </div>
            </v-col>
          </v-row>

          <v-row class="ma-0">
            <v-col
              cols="12"
              sm="1"
              class=" py-0 d-sm-flex  justify-end">
              <div class="">
                Email  :
              </div>
            </v-col>
            <v-col
              cols="12"
              sm="5"
              class="py-0 font-weight-light">
              <div>
                {{ profile.email }}
              </div>
            </v-col>
          </v-row>
        </div>
      </div>

      <div>
      </div>
    </v-card>

    <v-card class="my-card table-card px-8 py-5">
      <v-row class="ma-0">
        <v-col
          class="py-0"
          cols="12"
          sm="6">
          <h3>Payment Gateway Connect</h3>

          <div class="px-10 my-3  ">
            <v-row>
              <v-col
                cols="12"
                sm="6"
                class="">
                Merchant ID :
              </v-col>
              <v-col
                cols="12"
                sm="6"
                class="font-weight-light">
                3254324rfdcdv
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                class="">
                Status :
              </v-col>
              <v-col
                cols="12"
                sm="6"
                class="font-weight-light">
                Active
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                class="">
                Payment Credit Card Charge :
              </v-col>
              <v-col
                cols="12"
                sm="6"
                class="font-weight-light">
                Interchange Plus
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-divider
          class=""
          vertical
        ></v-divider>
        <v-col
          class="py-0"
          cols="12"
          sm="6">
          <div>
            <h3>
              ACH Authorization Payment  File
            </h3>

            <div class="mt-3">
              <v-select
                outlined
                dense></v-select>
            </div>
          </div>

          <v-divider></v-divider>

          <div class="mt-5">
            <h3>
              POS Processing Fee
            </h3>

            <div class="px-10 mt-3">
              <v-row>
                <v-col
                  cols="12"
                  sm="3">
                  Credit Card :
                </v-col>
                <v-col
                  cols="12"
                  sm="9"
                  class="d-flex">
                  <input
                    v-if="isPosFeeCreditEdit"
                    v-model="posFee.credit"
                    class="fee-input mr-3"
                    type="number"
                  >
                  <div
                    v-else
                    class="mr-1">
                    {{ posFee.credit.toFixed(2) }}
                  </div>
                  %

                  <span class="mx-3">
                    <v-btn
                      v-if="!isPosFeeCreditEdit"
                      small
                      color="primary"
                      text
                      @click="isPosFeeCreditEdit = true">Edit
                    </v-btn>
                    <v-btn
                      v-else
                      small
                      color="primary"
                      text
                      @click="isPosFeeCreditEdit = false"
                    >Save
                    </v-btn>
                  </span>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="3">
                  Debit Card:
                </v-col>
                <v-col class="d-flex">
                  <input
                    v-if="isPosFeeDebitEdit"
                    v-model="posFee.debit"
                    class="fee-input mr-3"
                    type="number"
                  >
                  <div
                    v-else
                    class="mr-1">
                    {{ posFee.debit.toFixed(2) }}
                  </div>
                  %
                  <span class="mx-3">
                    <v-btn
                      v-if="!isPosFeeDebitEdit"
                      small
                      color="primary"
                      text
                      @click="isPosFeeDebitEdit = true">Edit
                    </v-btn>
                    <v-btn
                      v-else
                      small
                      color="primary"
                      text
                      @click="isPosFeeDebitEdit = false"
                    >Save
                    </v-btn>
                  </span>
                </v-col>
              </v-row>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="my-card table-card px-8 py-5">
      <div class="d-flex justify-space-between">
        <h3>
          Subscription
        </h3>

        <div>
          <SubsciptionCreateModal />
        </div>
      </div>

      <v-data-table
        class="mt-3"
        :headers="subsciptionHeader"
        :items="subsciptionData">
        <template #[`item.status`]="{item}">
          <div :class="statusColor(item.status)">
            {{ item.status }}
          </div>
        </template>

        <template #[`item.price`]="{item}">
          $  {{ item.price | separator }}
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-divider vertical></v-divider>
            <SubsciptionEditModal :item="item" />
            <v-divider vertical></v-divider>
            <v-btn
              text
              small
              color="red">
              Unsubscribe
            </v-btn>
            <v-divider vertical></v-divider>
          </div>
        </template>
      </v-data-table>
    </v-card>

    <v-card class="my-card table-card px-8 py-5">
      <h3>
        Billing
      </h3>

      <v-data-table
        class="mt-3"
        :headers="billHeader"
        :items="billData">
        <template #[`item.billingDate`]="{item}">
          {{ item.billingDate | toDate }}
        </template>
        <template #[`item.transferredDate`]="{item}">
          {{ item.transferredDate | toDate }}
        </template>

        <template #[`item.receipt`]="{item}">
          <div class="d-flex">
            <v-btn
              v-if="item.receipt"
              text
              small
              color="primary"
              @click="printReceipt(item.id)">
              Download
            </v-btn>

            <div
              v-else
              class="grey--text">
              Waiting for billing
            </div>
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import SubsciptionEditModal from '../components/Detail/SubscriptionEditModal.vue'
import SubsciptionCreateModal from '../components/Detail/SubscriptionCreateModal.vue'
import ClientProvider from '../../../resources/ClientProvider'

const clientService = new ClientProvider()
export default {
  components: {
    SubsciptionEditModal,
    SubsciptionCreateModal
  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MM/DD/YYYY')
    }
  },
  data () {
    return {
      loading: true,
      profile: {},
      posFee: {
        credit: 0.50,
        debit: 0.25
      },
      isPosFeeCreditEdit: false,
      isPosFeeDebitEdit: false,
      subsciptionHeader: [
        {
          text: 'Subscription Name',
          value: 'name'
        },
        {
          text: 'Quantity',
          value: 'quantity'
        },
        {
          text: 'Payment Plan',
          value: 'plan'
        }, {
          text: 'Subscription Price',
          value: 'price'
        },
        {
          text: 'Status',
          value: 'status'
        }, {
          text: 'Action',
          value: 'action'
        }
      ],
      subsciptionData: [{
        name: 'iPad Free',
        quantity: 1,
        plan: 'free',
        price: 0,
        status: 'active'

      }],
      billHeader: [
        {
          text: 'Billing ID',
          value: 'id'
        },
        {
          text: 'Billing Date ',
          value: 'billingDate'
        },
        {
          text: 'Transferred Date',
          value: 'transferredDate'
        }, {
          text: 'Receipt',
          value: 'receipt'
        }
      ],
      billData: [{
        id: 'B0010313142',
        billingDate: '2022-01-11',
        transferredDate: '2022-03-11',
        receipt: 'www.google.com'

      }, {
        id: 'B0010313145',
        billingDate: '2022-01-11',
        transferredDate: '2022-03-11',
        receipt: null
      }]
    }
  },
  computed: {
    clientId () {
      return this.$route.params.clientId || null
    }
  },
  mounted () {
    this.getClientInfo()
  },
  methods: {
    printReceipt (id) {
      window.open(`/print/invoice/${id}`)
    },
    statusColor (status) {
      console.log(status)
      if (status === 'active') {
        return 'activeColor'
      }

      if (status === 'inactive') {
        return 'suspendedColor'
      }

      return 'suspendedColor'
    },
    async getClientInfo () {
      try {
        this.loading = true
        const { data } = await clientService.getClientById(this.clientId)

        this.profile = {
          name: data?.name || '-',
          email: data?.email || '-',
          address: data?.address?.address || '-',
          tel: data?.tel || '-'
        }
        console.log(data)
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.fee-input{
  border: 1px gray solid;
  max-width: 100px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
