<template>
  <div class="login-backgroud">
    <img
      class="bg-t-l"
      src="/svg/login-bg-t-l.svg"
      alt="">
    <img
      class="bg-t-r"
      src="/svg/login-bg-t-r.svg"
      alt="">
    <img
      class="bg-btm-l"
      src="/svg/login-bg-btm-l.svg"
      alt="">
    <img
      class="bg-btm-r"
      src="/svg/login-bg-btm-r.svg"
      alt="">
  </div>
</template>

<script>
export default {
  name: 'LoginBackgroud'
}
</script>

<style lang="scss" scoped>
.login-backgroud {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  img {
    position: absolute;
    &.bg-t-l {
      top: 0;
      left: 0;
      max-width: 222px;
      width: 12%;
    }
    &.bg-t-r {
      top: 0;
      right: 0;
      max-width: 129px;
      width: 7%;
    }
    &.bg-btm-l {
      bottom: 0;
      left: 0;
      max-width: 331px;
      width: 18%;
    }
    &.bg-btm-r {
      bottom: 0;
      right: 0;
      max-width: 177px;
      width: 10%;
    }
  }
}
</style>
