.v-application {
  background-color: #F1F4FA !important;
}
.bg-primary {
  background-color: var(--v-primary-base);
}
.from-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
