<template>
  <div>
    <v-card>
      <v-card-title>
        <div class="d-flex justify-space-between w-full">
          <h4> Billing </h4>
        </div>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="items"
          hide-default-footer>
          <template #[`item.id`]="{ item }">
            <span
              style="cursor: pointer;"
              class="black--text text-decoration-underline"
              @click="printReceipt(item.id)">
              {{ item.id }}
            </span>
          </template>
          <template #[`item.billingDate`]="{ item }">
            {{ item.invoiceDate | slashedDate }}
          </template>
          <template #[`item.transferredDate`]="{ item }">
            {{ item.dueDate | slashedDate }}
          </template>
          <template #[`item.receipt`]="{item}">
            <div class="d-flex">
              <v-btn
                v-if="item.billStatus === 'PAID'"
                text
                small
                color="primary"
                @click="printReceipt(item.id)">
                Download
              </v-btn>
              <div
                v-else
                class="grey--text">
                Waiting for billing
              </div>
            </div>
          </template>
        </v-data-table>
        <div class="d-flex justify-end">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getBillingByRestaurant()" />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import RestaurantProvider from '@/resources/RestaurantProvider'

export default {
  name: 'BillingList',
  data () {
    return {
      loading: false,
      page: 1,
      limit: 10,
      totalPages: 1,
      headers: [
        {
          text: 'Billing ID',
          value: 'id',
          sortable: false
        },
        {
          text: 'Billing Date ',
          value: 'billingDate',
          sortable: false
        },
        {
          text: 'Transferred Date',
          value: 'transferredDate',
          sortable: false
        }, {
          text: 'Receipt',
          value: 'receipt',
          sortable: false
        }
      ],
      items: []
    }
  },
  mounted () {
    this.getBillingByRestaurant()
  },
  methods: {
    printReceipt (billId) {
      window.open(`/print/invoice/${billId}`)
    },
    async getBillingByRestaurant () {
      try {
        this.loading = true
        const { data } = await RestaurantProvider.getBillingByRestaurantId({
          page: this.page,
          limit: this.limit,
          restaurantId: this.$route.params.id
        })
        this.items = data.results
        this.totalPages = data.pages
      } catch (error) {
        console.error('[ERROR] get billing by restaurant', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
