<template>
  <div>
    <v-card :loading="loading">
      <v-card-text class="pa-0">
        <v-row no-gutters>
          <v-col
            cols="12"
            sm="6"
            class="pa-4">
            <div class="d-flex justify-space-between">
              <h2
                style="font-size: 20px;"
                class="black--text font-weight-bold mb-4">
                Payment Gateway Connect
              </h2>
              <v-btn
                color="primary"
                outlined
                @click="setDialog(true)">
                <v-icon
                  color="primary"
                  left>
                  mdi-square-edit-outline
                </v-icon>
                Edit
              </v-btn>
            <!-- <v-switch
              v-if="paymentGatewayInfo.midCoPilot"
              v-model="paymentGatewayInfo.isCoPilotApproved"
              :loading="isCoPilotLoading"
              class="mt-0"
              inset
              hide-details
              @change="updateCoPilotStatus()" /> -->
            </div>
            <div class="px-10">
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  Copilot Merchant Id :
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  {{ coPilotAppInfo.coPilotMerchantId || '-' }}
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  Boarding Process Status :
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  {{ coPilotAppInfo.boardingProcessStatus || '-' }}
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  Merchant ID :
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  {{ merchantId || '-' }}
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  Status :
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  {{ status || '-' }}
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  Payment Credit Card Charge :
                </v-col>
                <v-col
                  cols="12"
                  sm="6"
                  class="font-weight-medium">
                  {{ paymentCreditCardCharges || '-' }}
                </v-col>
              </v-row>
            </div>
          </v-col>
          <v-divider
            class=""
            vertical />
          <v-col
            cols="12"
            sm="6">
            <div class="pa-4">
              <div class="d-flex justify-space-between">
                <h2
                  style="font-size: 20px;"
                  class="black--text font-weight-bold mb-4">
                  ACH Authorization Payment File
                </h2>
                <!-- <v-switch
                  v-if="paymentGatewayInfo.midCoPilot"
                  v-model="paymentGatewayInfo.isBankAccountApproved"
                  class="mt-0"
                  inset
                  hide-details
                  @change="updateBankAccountStatus()" /> -->
              </div>
              <div
                style="gap: 8px;"
                class="d-flex flex-wrap">
                <div
                  v-for="(file, i) in achPaymentFile"
                  :key="`ach-payment-file-${i}`"
                  style="cursor: pointer;"
                  class="text-decoration-underline"
                  @click="previewACH(file)">
                  {{ file.date | slashedDate }}
                </div>
              </div>
            </div>
            <v-divider></v-divider>
            <div class="pa-4">
              <h2
                style="font-size: 20px;"
                class="black--text font-weight-bold mb-4">
                POS Processing Fee
              </h2>
              <v-row>
                <v-col
                  cols="12"
                  sm="3"
                  class="d-flex align-center">
                  Credit Card :
                </v-col>
                <v-col
                  cols="12"
                  sm="9"
                  class="d-flex align-center">
                  <v-text-field
                    v-if="isPosFeeCreditEdit"
                    v-model="newCreditFee"
                    class="fee-input mr-3"
                    type="number"
                    dense
                    outlined
                    hide-details />
                  <div
                    v-else
                    class="mr-1">
                    {{ creditCard | fullNumber2Decimal }}
                  </div>
                  %
                  <span class="mx-3">
                    <v-btn
                      v-if="!isPosFeeCreditEdit"
                      small
                      color="primary"
                      text
                      @click="setCreditFeeEdit(true)">
                      Edit
                    </v-btn>
                    <div
                      v-else
                      class="d-flex">
                      <v-btn
                        :disabled="!newCreditFee"
                        small
                        color="primary"
                        text
                        @click="submitCredit()">
                        Save
                      </v-btn>
                      <v-btn
                        class="font-weight-regular"
                        small
                        text
                        @click="setCreditFeeEdit(false)">
                        Cancel
                      </v-btn>
                    </div>
                  </span>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="3"
                  class="d-flex align-center">
                  Debit Card :
                </v-col>
                <v-col class="d-flex align-center">
                  <v-text-field
                    v-if="isPosFeeDebitEdit"
                    v-model="newDebitFee"
                    class="fee-input mr-3"
                    type="number"
                    dense
                    outlined
                    hide-details />
                  <div
                    v-else
                    class="mr-1">
                    {{ debitCard | fullNumber2Decimal }}
                  </div>
                  %
                  <span class="mx-3">
                    <v-btn
                      v-if="!isPosFeeDebitEdit"
                      small
                      color="primary"
                      text
                      @click="setDebitFeeEdit(true)">
                      Edit
                    </v-btn>
                    <div
                      v-else
                      class="flex">
                      <v-btn
                        :disabled="!newDebitFee"
                        small
                        color="primary"
                        text
                        @click="submitDebit()">
                        Save
                      </v-btn>
                      <v-btn
                        class="font-weight-regular"
                        small
                        text
                        @click="setDebitFeeEdit(false)">
                        Cancel
                      </v-btn>
                    </div>
                  </span>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <PaymentGatewayModal
      v-model="dialog"
      :mid="form.mid"
      :username="form.username"
      :password="form.password"
      :is-convenience-fee="form.isConvenienceFee"
      :convenience-fee="form.convenienceFee"
      :is-service-charge="form.isServiceCharge"
      :service-charge="form.serviceCharge"
      @update:input="updateInput($event)"
      @submit="updatePaymentGatewaySetting()" />
  </div>
</template>

<script>
import PaymentGatewayProvider from '@/resources/PaymentGateway'
import PaymentGatewayModal from './PaymentGatewayModal.vue'

export default {
  name: 'PaymentInfo',
  components: {
    PaymentGatewayModal
  },
  props: {
    merchantId: {
      type: String,
      default: ''
    },
    status: {
      type: String,
      default: ''
    },
    paymentCreditCardCharges: {
      type: String,
      default: ''
    },
    achPaymentFile: {
      type: Array,
      default: () => ([])
    },
    creditCard: {
      type: Number,
      default: null
    },
    debitCard: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      dialog: false,
      loading: false,
      isPosFeeCreditEdit: false,
      isPosFeeDebitEdit: false,
      newCreditFee: null,
      newDebitFee: null,
      paymentGatewayInfo: {
        id: null,
        isBankAccountApproved: false,
        // isCoPilotApproved: false,
        midCoPilot: null
      },
      coPilotAppInfo: {
        coPilotMerchantId: null,
        boardingProcessStatus: null
      },
      // isCoPilotLoading: false,
      isBankAccountLoading: false,
      form: {
        mid: '',
        username: '',
        password: '',
        isConvenienceFee: false,
        convenienceFee: null,
        isServiceCharge: false,
        serviceCharge: null
      }
    }
  },
  mounted () {
    this.getPaymentGatewayStatus()
    this.getPaymentGatewaySetting()
  },
  methods: {
    updateInput ({ name, value }) {
      this.form[name] = value
    },
    setDialog (value) {
      this.dialog = value
    },
    async getPaymentGatewaySetting () {
      try {
        const {
          data: paymentGatewaySetting
        } = await PaymentGatewayProvider.getPaymentGatewaySetting(this.$route.params.id)
        this.form = {
          ...paymentGatewaySetting
        }
      } catch (error) {
        console.error('[ERROR]', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      }
    },
    async getPaymentGatewayStatus () {
      try {
        this.loading = true
        const { data: paymentGatewayInfo } = await PaymentGatewayProvider.getPaymentGatewayStatus(this.$route.params.id)
        this.paymentGatewayInfo = {
          ...paymentGatewayInfo
        }
        if (paymentGatewayInfo.midCoPilot) {
          this.getCoPilotAppStatus()
        }
      } catch (error) {
        console.error('[ERROR] get payment gateway status', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async getCoPilotAppStatus () {
      try {
        this.loading = true
        const { data: coPilotAppInfo } = await PaymentGatewayProvider.getCoPilotAppStatus(this.$route.params.id)
        this.coPilotAppInfo = {
          ...coPilotAppInfo
        }
      } catch (error) {
        console.error('[ERROR] get payment gateway status', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    // async updateCoPilotStatus () {
    //   try {
    //     this.isCoPilotLoading = true
    //     await PaymentGatewayProvider.updateCoPilotStatus(this.$route.params.id, {
    //       isCoPilotApproved: this.paymentGatewayInfo.isCoPilotApproved
    //     })
    //   } catch (error) {
    //     console.error('[ERROR] update copilot status', error)
    //     this.$notify.open({
    //       mode: 'alert',
    //       type: 'error',
    //       title: 'Sorry',
    //       icon: 'mdi-close-circle-outline',
    //       message: error.message || 'Something went wrong'
    //     })
    //   } finally {
    //     this.isCoPilotLoading = false
    //   }
    // },
    async updateBankAccountStatus () {
      try {
        this.isBankAccountLoading = true
        await PaymentGatewayProvider.updateBankAccountStatus(this.$route.params.id, {
          isBankAccountApproved: this.paymentGatewayInfo.isBankAccountApproved
        })
      } catch (error) {
        console.error('[ERROR] update copilot status', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.isBankAccountLoading = false
      }
    },
    async updatePaymentGatewaySetting () {
      try {
        await PaymentGatewayProvider.updatePaymentGatewaySetting(this.$route.params.id, {
          mid: this.form.mid,
          username: this.form.username,
          password: this.form.password,
          isConvenienceFee: this.form.isConvenienceFee,
          convenienceFee: Number(this.form.convenienceFee),
          isServiceCharge: this.form.isServiceCharge,
          serviceCharge: Number(this.form.serviceCharge)
        })
        this.getPaymentGatewaySetting()
      } catch (error) {
        console.error('[ERROR] update payment gateway setting', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      }
    },
    previewACH (file) {
      window.open(`/print/ach-file/${file.id}`)
    },
    setCreditFeeEdit (value) {
      this.newCreditFee = this.creditCard
      this.isPosFeeCreditEdit = value
    },
    setDebitFeeEdit (value) {
      this.newDebitFee = this.debitCard
      this.isPosFeeDebitEdit = value
    },
    submitCredit () {
      this.$emit('submit:credit', this.newCreditFee)
      this.isPosFeeCreditEdit = false
    },
    submitDebit () {
      this.$emit('submit:debit', this.newDebitFee)
      this.isPosFeeDebitEdit = false
    }
  }
}
</script>
