<template>
  <v-dialog
    :value="value"
    width="600"
    @click:outside="close()"
    @input="$emit('input', $event)">
    <v-card>
      <v-card-title>
        Gateway Credentials
      </v-card-title>
      <v-card-text>
        <v-form
          ref="form"
          lazy-validation>
          <v-row class="ma-0">
            <v-col
              cols="12"
              md="4">
              <div class="pt-2">
                MID :
              </div>
            </v-col>
            <v-col
              cols="12"
              md="8">
              <v-text-field
                :value="mid"
                :rules="[notEmptyRule]"
                dense
                outlined
                hide-details
                required
                @input="updateInput('mid', $event)" />
            </v-col>
          </v-row>
          <v-row class="ma-0">
            <v-col
              cols="12"
              md="4">
              <div class="pt-2">
                Username :
              </div>
            </v-col>
            <v-col
              cols="12"
              md="8">
              <v-text-field
                :value="username"
                :rules="[notEmptyRule]"
                dense
                outlined
                hide-details
                required
                @input="updateInput('username', $event)" />
            </v-col>
          </v-row>
          <v-row class="ma-0">
            <v-col
              cols="12"
              md="4">
              <div class="pt-2">
                Password :
              </div>
            </v-col>
            <v-col
              cols="12"
              md="8">
              <v-text-field
                :value="password"
                :rules="[notEmptyRule]"
                :type="hidePassword ? 'password' : 'text'"
                autocomplete="off"
                dense
                outlined
                hide-details
                required
                @input="updateInput('password', $event)">
                <template #append>
                  <v-icon @click="hidePassword = !hidePassword">
                    {{ hidePassword ? 'mdi-eye' : 'mdi-eye-off' }}
                  </v-icon>
                </template>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row class="ma-0">
            <v-col
              cols="12"
              md="4">
              <div class="pt-2">
                Convenience Fee :
              </div>
            </v-col>
            <v-col
              cols="12"
              md="8">
              <div class="d-flex">
                <v-switch
                  :value="isConvenienceFee"
                  color="primary"
                  class="ma-0"
                  hide-details
                  required
                  @change="updateInput('isConvenienceFee', $event)" />
              </div>
            </v-col>
            <v-row
              v-if="isConvenienceFee"
              class="ma-0">
              <v-col
                cols="12"
                md="4">
                <v-text-field
                  :value="convenienceFee"
                  :rules="[notEmptyRule]"
                  type="number"
                  prefix="$"
                  dense
                  outlined
                  hide-spin-buttons
                  hide-details
                  @input="updateInput('convenienceFee', $event)" />
              </v-col>
            </v-row>
          </v-row>
          <v-row class="ma-0">
            <v-col
              cols="12"
              md="4">
              <div class="pt-2">
                Service Charge :
              </div>
            </v-col>
            <v-col
              cols="12"
              md="8">
              <div class="d-flex">
                <v-switch
                  :value="isServiceCharge"
                  color="primary"
                  class="ma-0"
                  hide-details
                  required
                  @change="updateInput('isServiceCharge', $event)" />
              </div>
            </v-col>
            <v-row
              v-if="isServiceCharge"
              class="ma-0">
              <v-col
                cols="12"
                md="4">
                <v-text-field
                  :value="serviceCharge"
                  :rules="[notEmptyRule]"
                  type="number"
                  prefix="$"
                  dense
                  outlined
                  hide-spin-buttons
                  hide-details
                  @input="updateInput('serviceCharge', $event)" />
              </v-col>
            </v-row>
          </v-row>
        </v-form>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="pt-4 pb-4">
        <div class="d-flex justify-center w-full">
          <v-btn
            color="primary"
            class="mr-4"
            depressed
            @click="submit()">
            Save
          </v-btn>
          <v-btn
            color="primary"
            outlined
            @click="close()">
            Cancel
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'PaymentGatewayModal',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    mid: {
      type: String,
      default: ''
    },
    username: {
      type: String,
      default: ''
    },
    password: {
      type: String,
      default: ''
    },
    isConvenienceFee: {
      type: Boolean,
      default: false
    },
    convenienceFee: {
      type: [String, Number],
      default: null
    },
    isServiceCharge: {
      type: Boolean,
      default: false
    },
    serviceCharge: {
      type: [String, Number],
      default: null
    }
  },
  data () {
    return {
      hidePassword: true
    }
  },
  computed: {
    notEmptyRule () {
      return (v) => !!v || 'required'
    }
  },
  methods: {
    updateInput (name, value) {
      this.$emit('update:input', { name, value })
    },
    close () {
      this.$emit('input', false)
      this.$refs.form.resetValidation()
    },
    submit () {
      const valid = this.$refs.form.validate()
      if (!valid) return
      this.$emit('submit')
      this.close()
    }
  }
}
</script>
