<template>
  <v-card elevation="1">
    <v-card-title class="pb-2">
      <h4> Restaurant Profile </h4>
    </v-card-title>
    <v-card-text>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          Name :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ name || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          DBA :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ dba || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          EIN :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ ein || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          Address  :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ address || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          City  :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ city || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          State  :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ state || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          Zip Code  :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ zipCode || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          Phone  :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ phone || '-' }}
        </v-col>
      </v-row>
      <v-row class="ma-0">
        <v-col
          cols="12"
          sm="2"
          class="py-1 d-sm-flex justify-end font-weight-medium">
          Email  :
        </v-col>
        <v-col
          cols="12"
          sm="5"
          class="py-1 font-weight-medium">
          {{ email || '-' }}
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'RestaurantInfo',
  props: {
    name: {
      type: String,
      default: ''
    },
    dba: {
      type: String,
      default: ''
    },
    ein: {
      type: String,
      default: ''
    },
    address: {
      type: String,
      default: ''
    },
    city: {
      type: String,
      default: ''
    },
    state: {
      type: String,
      default: ''
    },
    zipCode: {
      type: String,
      default: ''
    },
    phone: {
      type: String,
      default: ''
    },
    email: {
      type: String,
      default: ''
    }
  }
}
</script>
