<template>
  <v-dialog
    v-model="dialog"
    width="500">
    <template #activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        color="primary"
        outlined
        v-on="on">
        <v-icon left>
          mdi-plus
        </v-icon>
        Add New
      </v-btn>
    </template>
    <v-form
      ref="form"
      lazy-validation>
      <v-card>
        <v-card-title>
          Subscription Add
        </v-card-title>
        <v-card-text>
          <SubscriptionForm
            :package-id="form.packageId"
            :payment-plan="form.paymentPlan"
            :quantity="form.quantity"
            :package-list="packageList"
            @update:input="updateInput($event)" />
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="#D1D1D1"
            text
            @click="close()">
            cancel
          </v-btn>
          <v-btn
            :loading="submitting"
            color="primary"
            text
            @click="addSubscription()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import SubscriptionProvider from '@/resources/Subscription'
import PackageProvider from '@/resources/PackageProvider'
import SubscriptionForm from './SubscriptionForm.vue'

export default {
  name: 'SubscriptionAdd',
  components: {
    SubscriptionForm
  },
  data () {
    return {
      submitting: false,
      dialog: false,
      form: {
        packageId: '',
        paymentPlan: '',
        quantity: ''
      },
      packageList: []
    }
  },
  mounted () {
    this.getPackageList()
  },
  methods: {
    clearForm () {
      this.form = {
        packageId: '',
        paymentPlan: '',
        quantity: ''
      }
    },
    close () {
      this.dialog = false
      this.clearForm()
      this.$refs.form.resetValidation()
    },
    updateInput (event) {
      this.form[event.name] = event.value
    },
    async getPackageList () {
      try {
        const { data } = await PackageProvider.getPackage({
          page: 1,
          limit: 9999
        })
        this.packageList = data.results
      } catch (err) {
        console.error('[ERROR] get package list', err)
      }
    },
    async addSubscription () {
      const valid = await this.$refs.form.validate()
      if (!valid) return
      try {
        this.submitting = true
        await SubscriptionProvider.createSubscription(this.$route.params.id, {
          packageId: this.form.packageId,
          quantity: Number(this.form.quantity),
          paymentPlan: this.packageList.find((p) => p.id === this.form.packageId).isFree ? 'FREE' : this.form.paymentPlan
        })
        this.$emit('submit')
      } catch (error) {
        console.error('[ERROR] add subscription', error)
        if (error.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        }
      } finally {
        this.close()
        this.submitting = false
      }
    }
  }
}
</script>
