<template>
  <div>
    <v-select
      v-if="!editMode"
      :value="packageId"
      :rules="[notEmptyRule]"
      :items="packageList"
      item-text="name"
      item-value="id"
      label="Package"
      class="mb-4"
      outlined
      dense
      hide-details
      @input="updateInput('packageId', $event)" />
    <v-select
      v-if="!isFree"
      :value="paymentPlan"
      :rules="[notEmptyRule]"
      :items="planList"
      label="Payment Plan"
      class="mb-4"
      outlined
      dense
      hide-details
      @input="updateInput('paymentPlan', $event)" />
    <v-text-field
      :value="quantity"
      :rules="[notEmptyRule]"
      type="number"
      label="Quantity"
      outlined
      dense
      hide-details
      @input="updateInput('quantity', $event)" />
  </div>
</template>

<script>
export default {
  name: 'SubscriptionForm',
  props: {
    packageId: {
      type: String,
      default: ''
    },
    paymentPlan: {
      type: String,
      default: ''
    },
    quantity: {
      type: [String, Number],
      default: null
    },
    packageList: {
      type: Array,
      default: () => ([])
    },
    editMode: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      planList: [
        'MONTHLY',
        'YEARLY'
      ]
    }
  },
  computed: {
    notEmptyRule () {
      return (v) => !!v || 'Required'
    },
    isFree () {
      const packageInfo = this.packageList.find((p) => p.id === this.packageId)
      if (packageInfo) {
        return packageInfo.isFree
      }
      return false
    }
  },
  methods: {
    updateInput (name, value) {
      this.$emit('update:input', { name, value })
    }
  }
}
</script>
