<template>
  <div>
    <v-card>
      <v-card-title>
        <div class="d-flex justify-space-between w-full">
          <h4> Subscription </h4>
          <SubscriptionAdd @submit="getSubscriptionByRestaurant()" />
        </div>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="items"
          hide-default-footer>
          <template #[`item.status`]="{ item }">
            {{ item.subscriptionStatus }}
          </template>
          <template #[`item.price`]="{ item }">
            $  {{ item.price | fullNumber2Decimal }}
          </template>
          <template #[`item.action`]="{ item }">
            <div class="d-flex">
              <v-btn
                color="primary"
                text
                small
                @click="setEdit(item)">
                Edit
              </v-btn>
              <v-divider
                class="mx-2"
                vertical>
              </v-divider>
              <v-btn
                v-if="item.subscriptionStatus === 'ACTIVE'"
                color="red"
                text
                small
                @click="unSubscribe(item)">
                Unsubscribe
              </v-btn>
              <v-btn
                v-else
                color="success"
                text
                small
                @click="subscribe(item)">
                Subscribe
              </v-btn>
            </div>
          </template>
        </v-data-table>
        <div class="d-flex justify-end">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getSubscriptionByRestaurant()" />
        </div>
      </v-card-text>
    </v-card>
    <SubscriptionEdit
      v-model="dialog"
      :subscription-id="selectedSubscription.id"
      @submit="getSubscriptionByRestaurant()" />
  </div>
</template>

<script>
import SubscriptionProvider from '@/resources/Subscription'
import SubscriptionAdd from './SubscriptionAdd.vue'
import SubscriptionEdit from './SubscriptionEdit.vue'

export default {
  name: 'SubsriptionList',
  components: {
    SubscriptionAdd,
    SubscriptionEdit
  },
  data () {
    return {
      dialog: false,
      loading: false,
      page: 1,
      limit: 10,
      totalPages: 1,
      search: '',
      selectedSubscription: {
        id: ''
      },
      headers: [
        {
          text: 'Subscription Name',
          value: 'name',
          sortable: false
        },
        {
          text: 'Quantity',
          value: 'quantity',
          sortable: false
        },
        {
          text: 'Payment Plan',
          value: 'paymentPlan',
          sortable: false
        }, {
          text: 'Subscription Price',
          value: 'price',
          sortable: false
        },
        {
          text: 'Status',
          value: 'status',
          sortable: false
        }, {
          text: 'Action',
          value: 'action',
          sortable: false
        }
      ],
      items: []
    }
  },
  mounted () {
    this.getSubscriptionByRestaurant()
  },
  methods: {
    setEdit (item) {
      this.selectedSubscription = {
        ...item
      }
      this.dialog = true
    },
    async getSubscriptionByRestaurant () {
      try {
        this.loading = true
        const { data } = await SubscriptionProvider.getSubscriptionByRestaurantId(
          this.$route.params.id,
          {
            page: this.page,
            limit: this.limit,
            search: this.search
          }
        )
        this.items = data.results
        this.totalPages = data.pages
      } catch (error) {
        console.error('[ERROR] get subscription', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async unSubscribe (item) {
      try {
        await SubscriptionProvider.unSubscribe(item.id)
        this.getSubscriptionByRestaurant()
      } catch (error) {
        console.error('[ERROR] unsubscribe', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      }
    },
    async subscribe (item) {
      try {
        await SubscriptionProvider.subscribe(item.id)
        this.getSubscriptionByRestaurant()
      } catch (error) {
        console.error('[ERROR] subscribe', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      }
    }
  }
}
</script>
