<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          outlined

          color="primary"
          v-on="on"
        >
          <v-icon left>
            mdi-plus
          </v-icon>
          Add New
        </v-btn>
      </template>

      <v-card>
        <div class="head px-3 py-3">
          Subscription Editing
        </div>

        <div class="px-3 py-3 text-content">
          <v-form>
            <v-text-field
              v-model="form.name"
              label="Subscription Name"
              outlined
              dense
            ></v-text-field>
            <v-text-field
              v-model="form.quantity"
              type="number"
              label="Quantity"
              outlined
              dense
            ></v-text-field>
            <v-select
              v-model="form.plan"
              :items="planOptions"
              label="Payment Plan"
              outlined
              dense
            ></v-select>
            <v-text-field
              v-model="form.price"
              hide-spin-buttons
              type="number"
              label="Subscription Price"
              prefix="$"
              outlined
              dense
            ></v-text-field>
          </v-form>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="#D1D1D1"
            text
            @click="dialog = false"
          >
            cancel
          </v-btn>
          <v-btn
            color="primary"
            text

          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

// import MenuProvider from '../../../resources/MenuProvider'

// const menuService = new MenuProvider()
export default {
  props: {

  },
  data () {
    return {
      dialog: false,
      form: {
        name: '',
        quantity: 0,
        plane: '',
        price: 0
      },
      planOptions: [
        {
          text: 'Free',
          value: 'free'
        },
        {
          text: 'Monthly',
          value: 'monthly'
        }, {
          text: 'Yearly',
          value: 'yearly'
        }
      ]
    }
  },
  mounted () {

  },
  methods: {
    // async deleteMenu () {
    //   try {
    //     this.processing = true
    //     await menuService.deleteMenu(this.menuInfo.id)
    //     this.$emit('deleted')
    //     this.dialog = false
    //   } catch (err) {
    //     console.error(err)
    //   } finally {
    //     this.processing = false
    //   }
    // }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
