<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              placeholder="Search"
              dense
              hide-details=""
              @keydown.enter="getTableAttributeList"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              class="text-none font-weight-light rounded-lg"
              height="40px"
              dark
              color="#1E2546"
              @click="getTableAttributeList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end">
          <div class="d-sm-flex d-none">
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg mr-2"
              to="/table/attribute/add"
            >
              <v-icon
                small
                left>
                mdi-plus-circle-outline
              </v-icon>
              Create Table Attribute
            </v-btn>
            <v-btn
              outlined
              color="primary"
              class="text-none  rounded-lg font-weight-light ml-2"
              @click="exportData">
              <v-icon
                small
                left>
                mdi-export-variant
              </v-icon>
              Export
            </v-btn>
          </div>

          <div class="d-sm-none">
            <v-btn
              outlined
              height="35px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg mb-2"
              to="/table/attribute/add"
            >
              <v-icon
                small
                left>
                mdi-plus-circle-outline
              </v-icon>
              Create Table Attribute
            </v-btn>
            <v-btn
              outlined
              color="primary"
              class="text-none  rounded-lg font-weight-light"
              @click="exportData">
              <v-icon
                small
                left>
                mdi-export-variant
              </v-icon>
              Export
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="table-card my-card">
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="tableAttributeList"
        :items-per-page="10"
        class="elevation-0 table"
        :page="page">
        <template #[`item.people`]="{item}">
          <div>
            {{ `${item.size.min} - ${item.size.max}` }}
          </div>
        </template>

        <template #[`item.state`]="{item}">
          <v-switch
            dense
            inset
            :input-value="mapState(item.state)"
            color="#6FCF97"
          ></v-switch>
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-btn
              icon
              @click="$router.push(`/table/attribute/add/${item.id}`)">
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>
            <table-attribute-delete-modal
              :attribute-info="item"
              @deleted="deletedAttribute" />
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { ExportToCsv } from 'export-to-csv'
import dayjs from 'dayjs'
import TableProvider from '@/resources/TableProvider'
import TableAttributeDeleteModal from '../components/TableAttibuteDeleteModal.vue'

const tableService = new TableProvider()
export default {
  name: 'TableAttributeSetting',
  components: {
    TableAttributeDeleteModal
  },
  data () {
    return {
      searchText: '',
      page: 1,
      headers: [
        {
          text: 'Table Type',
          value: 'seatType',
          align: 'end'
        },
        {
          text: 'Amount ( All )',
          value: 'amount'
        },
        {
          text: '',
          value: 'action'
        }
      ],
      tableAttributeList: [
      ],
      loading: true
    }
  },
  mounted () {
    this.getTableAttributeList()
  },
  methods: {
    deletedAttribute () {
      this.getTableAttributeList()
    },
    async exportData () {
      const data = this.tableAttributeList
      const exportData = []
      for (const each of data) {
        exportData.push({
          tableTypr: each.seatType,
          amount: each.amount,
          createdAt: dayjs(each.createdAt).format('DD-MM-YY')
        })
      }

      const options = {
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true,
        showTitle: true,
        title: 'Table Attribute List',
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: true,
        filename: 'table_attribute_list'

      }

      const csvExporter = new ExportToCsv(options)

      csvExporter.generateCsv(exportData)
    },
    async getTableAttributeList () {
      try {
        this.loading = true
        const { data } = await tableService.getTableType({
          limit: 999,
          search: this.searchText
        })
        this.tableAttributeList = data.results
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;
  height: 750px;
  overflow: auto;
}

.my-card {
  border-radius: 8px;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}
</style>
