<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              placeholder="Search"
              dense
              hide-details=""
              @keydown.enter="getTableList"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              class="text-none font-weight-light rounded-lg"
              height="40px"
              dark
              color="#1E2546"
              @click="getTableList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center  justify-end">
          <v-btn
            outlined
            height="35px"
            color="#1E2546"
            class="text-none font-weight-light rounded-lg mr-2"
            to="/table/add"
          >
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create Table
          </v-btn>
          <v-btn
            outlined
            color="primary"
            class="text-none  rounded-lg font-weight-light ml-2"
            @click="exportData">
            <v-icon
              small
              left>
              mdi-export-variant
            </v-icon>
            Export
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="table-card my-card">
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="tableList"
        :items-per-page="10"
        class="elevation-0 table"
        :page="page">
        <template #[`item.tableType`]="{ item }">
          <div class="text-capitalize">
            {{ item.type.seatType }}
          </div>
        </template>

        <template #[`item.people`]="{item}">
          <div>
            {{ `${item.size.min} - ${item.size.max}` }}
          </div>
        </template>

        <template #[`item.status`]="{item}">
          <span :class="item.status">{{ item.status }}</span>
          <!-- <v-switch
            v-model="item.status"
            dense
            inset
            color="#6FCF97"
          ></v-switch> -->
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-btn
              icon
              @click="$router.push(`/table/add/${item.id}`)">
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>

            <table-delete-modal
              :table-info="item"
              @deleted="deleted" />
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { ExportToCsv } from 'export-to-csv'
import dayjs from 'dayjs'
import TableProvider from '@/resources/TableProvider'
import TableDeleteModal from '../components/TableDeleteModal.vue'

const tableService = new TableProvider()
export default {
  name: 'TableList',
  components: {
    TableDeleteModal
  },
  data () {
    return {
      page: 1,
      searchText: '',
      loading: true,
      headers: [
        {
          text: 'Table No.',
          value: 'sequence',
          align: 'center'
        },
        {
          text: 'Table Type',
          value: 'tableType'
        },
        {
          text: 'People',
          value: 'people'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: '',
          value: 'action'
        }
      ],
      tableList: [

      ]
    }
  },
  mounted () {
    this.getTableList()
  },
  methods: {
    async exportData () {
      const data = this.tableList
      const exportData = []
      for (const each of data) {
        exportData.push({
          tableNo: each.sequence,
          createdAt: dayjs(each.createdAt).format('DD-MM-YY'),
          type: each.type.seatType,
          min: each.size.min,
          max: each.size.max,
          state: each.state
        })
      }

      const options = {
        fieldSeparator: ',',
        quoteStrings: '"',
        decimalSeparator: '.',
        showLabels: true,
        showTitle: true,
        title: 'Table List',
        useTextFile: false,
        useBom: true,
        useKeysAsHeaders: true,
        filename: 'table_list'

      }

      const csvExporter = new ExportToCsv(options)

      csvExporter.generateCsv(exportData)
    },
    async deleted () {
      this.getTableList()
    },
    async getTableList () {
      try {
        this.loading = true
        const { data } = await tableService.getTable({
          page: 1,
          limit: 9999,
          search: this.searchText
        })

        this.tableList = data.results
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.loading = false
      }
    },
    mapState (state) {
      if (state === 'dining') {
        return true
      }

      return false
    }
  }

}
</script>

<style lang="scss" scoped>
.active {
  color: #6FCF97
}

.inactive {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;

  height: 750px;
  overflow: auto;

}

.my-search-input {
  max-width: 300px;
  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

}

.my-card {
  border-radius: 8px;
}
</style>
