<template>
  <div class="center-page">
    <v-card
      class="pa-5"
      elevation="1"
      width="600">
      <div class=" d-flex justify-center">
        <img
          src="/logo.svg"
          alt=""
          width="100">
      </div>

      <div class="mt-6">
        <h1>Let's create your account</h1>

        <p>
          Siging up for Square is fast and free <br>
          No commitments or long-term contracts.
        </p>
      </div>

      <div class="mt-8">
        <v-form v-model="validForm">
          <v-text-field
            label="Enter your email"
            outlined
            dense
            :rules="formUserValidate.required"
          ></v-text-field>
          <v-text-field
            label="Confirm your email"
            outlined
            dense
            :rules="formUserValidate.required"
          ></v-text-field>
          <v-text-field
            :rules="formUserValidate.password"
            label="Create a password"
            outlined
            dense
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'password' : 'text' "
            @click:append="toggleIsPassword()"
          ></v-text-field>

          <v-select
            outlined
            dense
            label="Locale"
            hide-details=""
            :rules="formUserValidate.required"
            :items="localeOptions"></v-select>

          <div class="d-flex align-center">
            <v-checkbox :rules="formUserValidate.checkbox">
              <template #label>
                <div>
                  I agree to Square's <a href="">Terms, Privacy Policy,</a> and <a href="">E-sign Consent</a>
                </div>
              </template>
            </v-checkbox>
          </div>

          <div class="grey--text font-weight-light mt-5">
            This site is protected by reCAPTCHA Enterprise and the Google <a href="">Privacy Policy</a>
            and <a href="">Terms of Service</a> apply
          </div>

          <div class="mt-8">
            <v-btn
              :disabled="!validForm"
              class="text-none"
              color="primary"
              block>
              Submit
            </v-btn>
          </div>
        </v-form>
      </div>
    </v-card>
  </div>
</template>

<script>
import CountriesList from '../../../plugins/helper/CountriesList'

export default {
  data () {
    return {
      validForm: false,
      showPassword: false,
      conutriesList: CountriesList,
      localeOptions: [],
      form: {
        email: '',
        password: '',
        confirmEmail: '',
        locale: ''
      },
      formUserValidate: {
        required: [
          (val) => !!val || 'Required'

        ],
        password: [
          (val) => !!val || 'Required',
          (val) => (val && val.length >= 6) || 'Minimum 6 characters'
        ],
        checkbox: [
          (val) => !!val || 'Your have to read and agree "Terms, Privacy Policy and E-sign Consent"'
        ]
      }
    }
  },
  mounted () {
    this.conutriesList.map((e) => this.localeOptions.push({
      text: e.name,
      value: e.name
    }))
  },
  methods: {
    checkConfirmEmail () {
      if (this.form.confirmEmail !== this.form.email) {
        return false
      }

      return true
    },
    toggleIsPassword () {
      this.showPassword = !this.showPassword
    }
  }
}
</script>

<style lang="scss" scoped>
.center-page{
display: flex;
align-items: center;
min-height: 100vh;
justify-content: center;
padding: 2%;
}
</style>
