<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details=""
              dense
              placeholder="Search"
              @keydown.enter="getClientsList"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getClientsList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end ">
          <AddNewSubscriptionModal />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="my-card table-card mt-4">
      <v-data-table
        :headers="subsciptionHeader"
        :items="subsciptionData">
        <template #[`item.status`]="{item}">
          <div :class="statusColor(item.status)">
            {{ item.status }}
          </div>
        </template>

        <template #[`item.price`]="{item}">
          $  {{ item.price | separator }}
        </template>

        <template #[`item.autoRenew`]="{item}">
          {{ item.autoRenew | toDate }}
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <UnsubscriptionModal :info="item" />
          </div>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import AddNewSubscriptionModal from '../components/user/addNewSubscription.vue'
import UnsubscriptionModal from '../components/user/unSubscription.vue'

export default {
  components: {
    AddNewSubscriptionModal,
    UnsubscriptionModal
  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    },
    toDate (val) {
      if (!val) return '-'

      return dayjs(val).format('MM/DD/YYYY')
    }

  },
  data () {
    return {
      loading: true,
      seacrhText: '',
      subsciptionHeader: [
        {
          text: 'Subscription Name',
          value: 'name'
        },
        {
          text: 'Quantity',
          value: 'quantity'
        },
        {
          text: 'Payment Plan',
          value: 'plan'
        }, {
          text: 'Subscription Price',
          value: 'price'
        },
        {
          text: 'Auto Renew',
          value: 'autoRenew'
        },
        {
          text: 'Status',
          value: 'status'
        }, {
          text: 'Action',
          value: 'action'
        }
      ],
      subsciptionData: [{
        name: 'iPad Free',
        quantity: 1,
        plan: 'free',
        price: 0,
        status: 'active',
        autoRenew: '2022-06-01'

      },
      {
        name: 'iPad',
        quantity: 1,
        plan: 'Monthly',
        price: 40,
        status: 'active',
        autoRenew: '2022-06-01'

      }]

    }
  },
  methods: {
    statusColor (status) {
      console.log(status)
      if (status === 'active') {
        return 'activeColor'
      }

      if (status === 'inactive') {
        return 'suspendedColor'
      }

      return 'suspendedColor'
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
