<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500">
      <template #activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          icon
          color="red"
          v-on="on">
          <v-icon small>
            mdi-trash-can-outline
          </v-icon>
        </v-btn>
      </template>
      <v-card>
        <div class="head px-3 py-3">
          Delete Package
        </div>
        <div class="px-3 py-3 text-content">
          You want to delete <span
            class="red--text"
            style="font-size:1.2rem ; font-weight:400">{{ itemInfo.name }}</span> ?
        </div>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="#D1D1D1"
            text
            @click="dialog = false">
            cancel
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="onClickDelete()">
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    itemInfo: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    onClickDelete () {
      this.$emit('delete')
    }
  }
}
</script>

<style lang="scss" scoped>
.head{
  background-color: #B2CC53;
  color: white ;
  font-size: 1.4rem;

}

.text-content{
  color: #686767;
}
</style>
