<template>
  <div>
    <v-skeleton-loader
      v-if="loading"
      class="mt-10"
      type="article , actions" />
    <v-form
      v-if="!loading"
      v-model="valid"
      @submit.prevent="submit()">
      <v-row class="align-center">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Name
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            :value="name"
            :rules="[
              notEmptylRule
            ]"
            hide-details
            dense
            outlined
            @input="updateInput('name', $event)" />
        </v-col>
      </v-row>
      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Package Type
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-combobox
            :value="packageType"
            :items="packageTypeList"
            :rules="[
              notEmptyArrayRule
            ]"
            multiple
            hide-details
            dense
            outlined
            @input="updateInput('packageType', $event)" />
        </v-col>
      </v-row>
      <v-row
        v-if="hasTypeIPAD"
        class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          IPAD Capacity
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            :value="iPadCapacity"
            :rules="[
              notEmptylRule
            ]"
            type="number"
            hide-spin-buttons
            dense
            outlined
            hide-details
            @input="updateInput('iPadCapacity', $event)" />
        </v-col>
      </v-row>
      <!-- <v-row
        class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Daily Price
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            :value="dailyPrice"
            :rules="[
              notEmptylRule
            ]"
            type="number"
            prefix="$"
            hide-spin-buttons
            dense
            outlined
            hide-details
            @input="updateInput('dailyPrice', $event)" />
        </v-col>
      </v-row> -->
      <v-row
        class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Monthly Price
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            :value="monthlyPrice"
            :rules="[
              notEmptylRule
            ]"
            type="number"
            prefix="$"
            hide-spin-buttons
            dense
            outlined
            hide-details
            @input="updateInput('monthlyPrice', $event)" />
        </v-col>
      </v-row>
      <v-row
        class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Yearly Price
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-text-field
            :value="yearlyPrice"
            :rules="[
              notEmptylRule
            ]"
            type="number"
            prefix="$"
            hide-spin-buttons
            dense
            outlined
            hide-details
            @input="updateInput('yearlyPrice', $event)" />
        </v-col>
      </v-row>
      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Description
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-textarea
            :value="description"
            dense
            outlined
            hide-details
            no-resize
            @input="updateInput('description', $event)" />
        </v-col>
      </v-row>
      <!-- <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          User Status
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="6">
          <v-col
            cols="2"
            class="px-0 py-0">
            <span
              v-if="swicthState"
              class="activeColor">Active</span>
            <span
              v-if="!swicthState"
              class="suspendedColor">Suspended</span>
          </v-col>
          <v-col class="px-0 py-0">
            <div class="ml-5">
              <v-switch
                v-model="swicthState"
                dense
                inset
                color="#6FCF97"
                @change="mapSwicth"></v-switch>
            </div>
          </v-col>
        </v-col>
      </v-row> -->
      <v-row class="align-center mt-10">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
          Active Default
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="7">
          <v-radio-group
            :value="isActiveDefault"
            class="ma-0"
            row
            dense
            hide-details
            @change="updateInput('isActiveDefault', $event)">
            <v-radio
              :value="true"
              label="yes" />
            <v-radio
              :value="false"
              label="no" />
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row class="align-center mt-10 mb-6">
        <v-col
          cols="12"
          sm="2"
          class="labe-text px-0 py-0">
        </v-col>
        <v-col
          cols="12"
          class="px-0 py-0 d-flex align-center"
          sm="6">
          <v-btn
            :disabled="!valid"
            :loading="submitting"
            elevation="0"
            color="primary"
            class="mr-3"
            type="submit">
            save
          </v-btn>
          <v-btn
            v-if="!submitting"
            elevation="0"
            color="primary"
            outlined
            class="ml-3"
            to="/package">
            cancel
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
export default {
  name: 'PackageForm',
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    submitting: {
      type: Boolean,
      default: false
    },
    name: {
      type: String,
      default: ''
    },
    description: {
      type: String,
      default: ''
    },
    monthlyPrice: {
      type: [String, Number],
      default: ''
    },
    yearlyPrice: {
      type: [String, Number],
      default: ''
    },
    dailyPrice: {
      type: [String, Number],
      default: ''
    },
    isActiveDefault: {
      type: Boolean,
      default: false
    },
    iPadCapacity: {
      type: [String, Number],
      default: null
    },
    packageType: {
      type: Array,
      default: () => ([])
    }
  },
  data () {
    return {
      valid: false,
      packageTypeList: [
        'IPAD',
        'WEBSITE',
        'CATERING',
        'DELIVERY',
        'RESERVATION',
        'ACCOUNTING'
      ]
    }
  },
  computed: {
    notEmptylRule () {
      return (val) => !!val || 'Required'
    },
    notEmptyArrayRule () {
      return (val) => (!!val && val.length) || 'Required'
    },
    hasTypeIPAD () {
      return this.packageType.some((type) => type === 'IPAD')
    }
  },
  methods: {
    updateInput (name, value) {
      this.$emit('update:input', { name, value })
    },
    submit () {
      this.$emit('submit')
    }
  }
}
</script>
