<template>
  <div>
    <div class="card-loader d-flex justify-center">
      <v-skeleton-loader
        class="loader my-auto"

        type="card , list-item,list-item, actions"
      ></v-skeleton-loader>
    </div>
  </div>
</template>

<script>

export default {
  name: 'SignOut',
  components: {

  },
  mounted () {
    this.$store.dispatch('User/resetUser')
    setTimeout(() => {
      this.$router.push('/signin')
    }, 1000)
  }
}
</script>

<style lang="scss" scoped>
.loader{
width: 100% !important;
max-width: 600px;

}

.card-loader{
height: 100vh;

}
</style>
