<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edite User' : 'Create User' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"
      ></v-skeleton-loader>

      <v-form
        v-if="!loading"
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.firstName"
              :rules="formValidate.name"
              placeholder="Input Name"
              hide-details
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Surname
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.lastName"
              :rules="formValidate.lastName"
              placeholder="Input Surname"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Tel
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.tel"
              :rules="formValidate.tel"
              placeholder="Input Tel"
              hide-spin-buttons
              dense
              type="number"
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Email
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.email"
              :rules="formValidate.email"
              placeholder="Input Email"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Role
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model="form.role"
              :rules="formValidate.role"
              :items="roleEnum"
              placeholder="Select Role"
              outlined
              dense
              hide-details></v-select>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Passcode
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-text-field
              v-model.trim="form.passCode"
              :rules="formValidate.passCode"
              :maxlength="6"
              placeholder="Input Passcode"
              type="number"
              hide-spin-buttons
              dense
              outlined
              hide-details></v-text-field>

            <div class="ml-5">
              Use 6 numbers with out a letters, & symbols
            </div>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            User Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="swicthState"
                class="activeColor">Active</span>
              <span
                v-if="!swicthState"
                class="suspendedColor">Suspended</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="swicthState"
                  dense
                  inset
                  color="#6FCF97"
                  @change="mapSwicth"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              color="primary"
              :loading="processing"
              class="mr-3"
              type="submit"
            >
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/user"
            >
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import UserProvider from '@/resources/UserProvider'

const userService = new UserProvider()

export default {
  name: 'UserAddPage',
  data () {
    return {
      loading: false,
      swicthState: true,
      form: {
        status: 'active',
        firstName: '',
        lastName: '',
        passCode: '',
        role: '',
        tel: '',
        email: ''
      },
      roleEnum: [
        {
          text: 'Manager',
          value: 'manager'
        },
        {
          text: 'User',
          value: 'user'
        }

      ],
      processing: false,
      formValid: false,
      formValidate: {
        name: [
          (val) => !!val || 'Required'
        ],
        lastName: [
          (val) => !!val || 'Required'
        ],
        tel: [
          (val) => !!val || 'Required'
        ],
        passCode: [
          (val) => !!val || 'Required',
          (val) => val.length === 6 || '6 character'
        ],
        role: [
          (val) => !!val || 'Required'
        ],
        email: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ]
      }

    }
  },
  computed: {
    userId () {
      return this.$route?.params?.userId || null
    },
    isUpdate () {
      return !!this.userId
    }
  },
  mounted () {
    if (this.isUpdate) {
      this.getMemberInfo()
    }
  },
  methods: {

    mapSwicth () {
      if (this.swicthState) {
        this.form.status = 'active'
      } else {
        this.form.status = 'inactive'
      }
    },
    async submit () {
      try {
        this.processing = true
        if (this.isUpdate) {
          await userService.updateMember(
            this.userId,
            this.form
          )
        } else {
          await userService.createMember(this.form)
        }
        this.$router.push('/user')
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.processing = false
      }
    },
    async getMemberInfo () {
      try {
        this.loading = true
        const { data } = await userService.getMemberById(this.userId)

        this.form = data
        if (data.status === 'active') {
          this.swicthState = true
        } else {
          this.swicthState = false
        }
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
