<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details=""
              dense
              placeholder="Search"
              @keydown.enter="getMembersList"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getMembersList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end ">
          <v-btn
            outlined
            color="#1E2546"
            class="font-weight-light   text-none rounded-lg"
            to="/user/add"
          >
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create User
          </v-btn>
          <!-- <v-btn
            block
            outlined
            color="#1E2546"
            class="font-weight-light  text-none rounded-lg d-sm-none"
            to="/user/add"
          >
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create User
          </v-btn> -->
        </v-col>
      </v-row>
    </v-card>

    <v-card class="my-card table-card d-flex flex-column ">
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="userList"
        :items-per-page="10"
        class="elevation-0 table"
        :page="page">
        <template #[`item.role`]="{ item }">
          <v-chip
            label
            small
            dark
            color="#B2CC53">
            {{ item.role | toRole }}
          </v-chip>
        </template>

        <template #[`item.name`]="{item}">
          <div>
            {{ `${item.firstName} ${item.lastName}` }}
          </div>
        </template>

        <template #[`item.status`]="{item}">
          <div :class="statusColor(item.status)">
            {{ item.status | toStatus }}
          </div>
        </template>

        <template #[`item.action`]="{item}">
          <div class="d-flex">
            <v-btn
              icon
              @click="$router.push(`/user/add/${item.id}`)">
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>

            <user-delete-modal
              :user-info="item"
              @deleted="deleted" />
          </div>
        </template>
      </v-data-table>

      <!-- <div class="mt-auto">
          <div class="my-border mt-2">
          </div>

          <div class="d-flex justify-end py-3 px-5 table-footer align-center">
            <div>
              1-10 of 12
            </div>
            <div class="ml-5">
              <v-btn icon>
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </div>
          </div>
        </div> -->
    </v-card>
  </div>
</template>

<script>
import UserProvider from '../../../resources/UserProvider'
import UserDeleteModal from '../components/UserDeleteModal.vue'

const userService = new UserProvider()
export default {
  name: 'UserListPage',
  components: {
    UserDeleteModal
  },
  filters: {
    toRole (val) {
      if (!val) return 'Waiter'

      return val
    },
    toStatus (val) {
      if (!val) return '-'

      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    }
  },
  data () {
    return {
      searchText: '',
      page: 1,
      allPages: 2,
      headers: [
      //   {
      //   text: 'No.',
      //   align: 'start',
      //   sortable: false,
      //   value: 'no'
      // },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Phone Number',
          value: 'tel'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Roles',
          value: 'role'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Manage',
          value: 'action'
        }
      ],
      userList: [],
      loading: false
    }
  },
  mounted () {
    this.getMembersList()
  },
  methods: {
    deleted () {
      this.getMembersList()
    },
    async getMembersList () {
      try {
        this.loading = true
        const { data } = await userService.getMembers({
          page: 1,
          limit: 10,
          search: this.searchText
        })
        this.userList = data.results
      } catch (err) {
        console.log(err)
      } finally {
        this.loading = false
      }
    },
    statusColor (status) {
      console.log(status)
      if (status === 'active') {
        return 'activeColor'
      }

      if (status === 'suspended') {
        return 'suspendedColor'
      }

      return 'suspendedColor'
    }
  }
}
</script>

<style lang="scss" scoped>
.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;
  height: 600px;
  overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.my-card {
  border-radius: 8px;
}
</style>
