<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details=""
              dense
              placeholder="Search"
              @keydown.enter="getAdminsList()" />
          </div>
          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getAdminsList()">
              Search
            </v-btn>
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end ">
          <v-btn
            outlined
            color="#1E2546"
            class="font-weight-light   text-none rounded-lg"
            to="/admin/add">
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create Account
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="my-card table-card">
      <v-card-text>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="adminList"
          class="elevation-0 table"
          hide-default-footer>
          <template #[`item.status`]="{item}">
            <div :class="statusColor(item.status)">
              {{ item.status | toStatus }}
            </div>
          </template>
          <template #[`item.createdAt`]="{item}">
            {{ item.createdAt | toDate }}
          </template>
          <template #[`item.createdBy`]="{item}">
            {{ item.createdBy.username }}
          </template>
          <template #[`item.action`]="{item}">
            <div class="d-flex">
              <v-btn
                icon
                :to="`/admin/add/${item.id}`">
                <v-icon small>
                  mdi-pencil-box-outline
                </v-icon>
              </v-btn>
              <admin-delete-modal
                :admin-info="item"
                @deleted="deleted" />
            </div>
          </template>
        </v-data-table>
        <div class="mt-2 d-flex justify-end">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getAdminsList()" />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import AdminProvider from '@/resources/AdminProvider'
import dayjs from 'dayjs'
import AdminDeleteModal from '../components/AdminDeleteModal.vue'

const adminService = new AdminProvider()
export default {
  name: 'AdminList',
  components: {
    AdminDeleteModal
  },
  filters: {
    toRole (val) {
      if (!val) return 'Waiter'
      if (val === 'super-admin') {
        return 'super admin'
      }
      return val
    },
    toDate (val) {
      if (!val) return '-'
      return dayjs(val).format('DD MMM YYYY')
    },
    toStatus (val) {
      if (!val) return '-'
      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    }
  },
  data () {
    return {
      searchText: '',
      page: 1,
      limit: 10,
      totalPages: 1,
      headers: [
        {
          text: 'Username',
          value: 'username'
        },
        {
          text: 'Created At',
          value: 'createdAt'
        },
        {
          text: 'Created By',
          value: 'createdBy'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Manage',
          value: 'action'
        }
      ],
      adminList: [],
      loading: false
    }
  },
  mounted () {
    this.getAdminsList()
  },
  methods: {
    deleted () {
      this.getAdminsList()
    },
    async getAdminsList () {
      try {
        this.loading = true
        const { data } = await adminService.getAdmins({
          page: this.page,
          limit: this.limit,
          search: this.searchText
        })
        this.adminList = data.results
        this.totalPages = data.pages
      } catch (err) {
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.loading = false
      }
    },
    statusColor (status) {
      console.log(status)
      if (status === 'active') {
        return 'activeColor'
      }
      if (status === 'suspended') {
        return 'suspendedColor'
      }
      return 'suspendedColor'
    }
  }
}
</script>

<style lang="scss" scoped>
.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;
  // height: 600px;
  // overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.my-card {
  border-radius: 8px;
}
</style>
