<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edite Account' : 'Create Account' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"
      ></v-skeleton-loader>

      <v-form
        v-if="!loading"
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Username
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.username"
              :rules="formValidate.username"
              placeholder="Input Username"
              hide-details
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row

          class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Password
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-if="!isUpdate"
              v-model.trim="form.password"
              :rules="formValidate.password"
              type="password"
              placeholder="Input password"
              hide-spin-buttons
              dense
              outlined
              hide-details></v-text-field>
            <div
              v-else>
              <v-btn
                outlined
                color="primary"
                class="text-none">
                Change Passowrd
              </v-btn>
            </div>
          </v-col>
        </v-row>

        <v-row
          v-if="!isUpdate"
          class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Confirm Password
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.confirmPassword"
              type="password"
              :rules="formValidate.password"
              placeholder="Input Confirm Password"
              dense
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Role
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model="form.role"
              :items="roleEnum"
              :rules="formValidate.role"
              outlined
              dense
              hide-details=""
              placeholder="Please Select Role"></v-select>
          </v-col>
        </v-row> -->

        <!-- <v-row
          v-if="form.role !== 'super-admin'"
          class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Client
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model.trim="form.client"
              :items="clientList"
              :rules="formValidate.client"
              placeholder="Please Select Admin"
              dense
              outlined
              hide-details></v-select>
          </v-col>
        </v-row> -->

        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            User Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="swicthState"
                class="activeColor">Active</span>
              <span
                v-if="!swicthState"
                class="suspendedColor">Suspended</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="swicthState"
                  dense
                  inset
                  color="#6FCF97"
                  @change="mapSwicth"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row> -->

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              color="primary"
              :loading="processing"
              class="mr-3"
              type="submit"
            >
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/admin"
            >
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import AdminProvider from '@/resources/AdminProvider'

const adminService = new AdminProvider()

export default {
  name: 'AdminAdd',
  data () {
    return {
      loading: false,
      swicthState: true,
      form: {
        username: '',
        password: '',
        confirmPassword: '',
        note: '',
        role: 'SUPER_ADMIN'
      },
      validPassword: false,
      roleEnum: [{ text: 'Super Admin', value: 'super-admin' }, { text: 'Manager', value: 'manager' }],
      processing: false,
      formValid: false,
      formValidate: {
        username: [
          (val) => !!val || 'Required',
          (val) => val.length >= 6 || 'username must have more than 6 character'
        ],
        password: [
          (val) => !!val || 'Required',
          (val) => val.length >= 6 || 'Password must have more than 6 character'
        ],
        tel: [
          (val) => !!val || 'Required'
        ],
        passCode: [
          (val) => !!val || 'Required',
          (val) => val.length === 6 || '6 character'
        ],
        role: [
          (val) => !!val || 'Required'
        ],
        client: [
          (val) => !!val || 'Required'
        ],
        email: [
          (val) => !!val || 'Required',
          (val) => /.+@.+[.]+./.test(val) || 'Invalid Email'
        ]
      }

    }
  },
  computed: {
    adminId () {
      return this.$route?.params?.adminId || null
    },
    isUpdate () {
      return !!this.adminId
    },
    checkValidPassword () {
      if (!this.isUpdate) {
        if (this.form.password !== this.form.confirmPassword) {
          return false
        }
      }
      return true
    }
  },
  mounted () {
    // this.getClinetList()
    if (this.isUpdate) {
      this.getAdminInfo()
    }
  },
  methods: {
    // mapSwicth () {
    //   if (this.swicthState) {
    //     this.form.status = 'active'
    //   } else {
    //     this.form.status = 'inactive'
    //   }
    // },

    async submit () {
      try {
        this.processing = true
        if (this.isUpdate) {
          await adminService.updateAdmin(
            this.adminId,
            this.form
          )

          return this.$router.push('/admin')
        }

        if (!this.checkValidPassword) {
          return this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: 'invalid password',
            confirmCallback: () => { console.log('close') }
          })
        }
        await adminService.createAdmin(this.form)

        return this.$router.push('/admin')
      } catch (err) {
        if (err.statusCode === 400) {
          return this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
        return this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.processing = false
      }
    },
    async getAdminInfo () {
      try {
        this.loading = true
        const { data } = await adminService.getAdminById(this.adminId)

        this.form = {
          username: data.username
        }
        // if (data.status === 'active') {
        //   this.swicthState = true
        // } else {
        //   this.swicthState = false
        // }
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
