<template>
  <div>
    <SuperAdminReferralCodeList />
    <SuperAdminReferralReport />
  </div>
</template>

<script>
import SuperAdminReferralCodeList from '../components/superadmin/ReferralCodeList.vue'
import SuperAdminReferralReport from '../components/superadmin/ReferralReport.vue'

export default {
  components: {
    SuperAdminReferralCodeList,
    SuperAdminReferralReport
  }
}
</script>

<style lang="scss" scoped>

</style>
