<template>
  <div>
    <v-row>
      <v-col></v-col>
      <v-col
        cols="auto"
        class="ml-auto">
        <v-btn
          color="primary"
          @click="payLastMonthBilling()">
          Pay last month billing
        </v-btn>
      </v-col>
      <v-col
        cols="auto"
        class="">
        <v-btn
          color="primary"
          @click="createLastMonthBilling()">
          Generate last month billing
        </v-btn>
      </v-col>
    </v-row>
    <v-card
      class="px-8 py-3 my-card "
      elevation="1">
      <v-row>
        <v-col
          cols="12"
          sm="6"
          class="d-flex align-center ">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="search"
              placeholder="Search ( Restaurant Name , Billing ID ) "
              hide-details
              dense
              @keydown.enter="getBilling()" />
          </div>
          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              dark
              @click="getBilling()">
              Search
            </v-btn>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          class="d-flex justify-space-between align-center">
          <div class="d-flex align-center">
            <v-menu
              v-model="startDateMenu"
              transition="scale-transition"
              offset-y
              min-width="auto">
              <template #activator="{ on, attrs }">
                <v-text-field
                  :value="$dayjs(startDate).format('DD/MM/YYYY')"
                  label="Start Date"
                  prepend-inner-icon="mdi-calendar"
                  class="mr-4"
                  dense
                  readonly
                  hide-details
                  v-bind="attrs"
                  v-on="on" />
              </template>
              <v-date-picker
                v-model="startDate"
                no-title
                scrollable
                @change="getBilling()">
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="startDateMenu = false">
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="startDateMenu = false">
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
            <v-menu
              v-model="endDateMenu"
              transition="scale-transition"
              offset-y
              min-width="auto">
              <template #activator="{ on, attrs }">
                <v-text-field
                  :value="$dayjs(endDate).format('DD/MM/YYYY')"
                  label="End Date"
                  prepend-inner-icon="mdi-calendar"
                  dense
                  readonly
                  hide-details
                  v-bind="attrs"
                  v-on="on" />
              </template>
              <v-date-picker
                v-model="endDate"
                no-title
                scrollable
                @change="getBilling()">
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="endDateMenu = false">
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="endDateMenu = false">
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
          </div>
          <v-btn
            color="primary"
            outlined
            @click="exportCsv()">
            Export
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-card
      class="my-card table-card"
      elevation="1">
      <v-card-text>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="items"
          hide-default-footer>
          <template #[`item.id`]="{ item }">
            <span
              style="cursor: pointer;"
              class="black--text text-decoration-underline"
              @click="printReceipt(item.id)">
              {{ item.id }}
            </span>
          </template>
          <template #[`item.billingDate`]="{ item }">
            {{ item.invoiceDate | slashedDate }}
          </template>
          <template #[`item.transferredDate`]="{ item }">
            {{ item.dueDate | slashedDate }}
          </template>
          <template #[`item.receipt`]="{ item }">
            <div class="d-flex">
              <div
                v-if="item.billStatus === 'UNPAID'"
                class="grey--text">
                Waiting for billing
              </div>
              <v-btn
                v-else
                text
                small
                color="primary"
                @click="printReceipt(item.id)">
                Download
              </v-btn>
            </div>
          </template>
        </v-data-table>
        <div class="d-flex justify-end mt-4">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getBilling()" />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import BillingProvider from '@/resources/BillingProvider'

export default {
  name: 'SuperAdminBillList',
  data () {
    return {
      startDateMenu: false,
      endDateMenu: false,
      loading: false,
      page: 1,
      limit: 10,
      totalPages: 1,
      search: '',
      startDate: this.$dayjs().format('YYYY-MM-DD'),
      endDate: this.$dayjs().format('YYYY-MM-DD'),
      headers: [
        {
          text: 'Restaurant Name',
          value: 'restaurantName'
        },
        {
          text: 'Billing ID',
          value: 'id'
        }, {
          text: 'Billing Date',
          value: 'billingDate'
        }, {
          text: 'Transferred Date',
          value: 'transferredDate'
        }, {
          text: 'Receipt',
          value: 'receipt'
        }
      ],
      items: []
    }
  },
  mounted () {
    this.getBilling()
  },
  methods: {
    async createLastMonthBilling () {
      try {
        this.loading = true
        const today = new Date()
        const startedPeriod = new Date()
        startedPeriod.setMonth(startedPeriod.getMonth() - 1)
        startedPeriod.setDate(1)

        const endedPeriod = new Date(today.getFullYear(), today.getMonth(), 0)

        endedPeriod.setMonth(2)
        endedPeriod.setDate(31)
        endedPeriod.setUTCHours(23, 59, 59, 999)

        const invoiceDate = today
        invoiceDate.setDate(2)

        const { data } = await BillingProvider.createLastMonthBilling(
          '2023-03-01T05:00:00.000+0000',
          '2023-03-31T04:59:59.999+0000',
          '2023-04-01T05:00:00.000+0000'
        )
        console.error('[data] create billing', data)
        this.$notify.open({
          mode: 'alert',
          type: 'success',
          title: 'Create Billing',
          icon: 'mdi-close-circle-outline',
          message: data.message || 'Something went wrong'
        })
      } catch (error) {
        console.error('[ERROR] Create billing', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async payLastMonthBilling () {
      try {
        this.loading = true
        const { data } = await BillingProvider.payLastMonthBilling(
          '2023-04-01T05:00:00.000+0000'
        )
        console.error('[data] pay billing', data)
        this.$notify.open({
          mode: 'alert',
          type: 'success',
          title: 'pay Billing',
          icon: 'mdi-close-circle-outline',
          message: data.message || 'Something went wrong'
        })
      } catch (error) {
        console.error('[ERROR] pay billing', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    exportCsv () {
      const data = []

      this.items.forEach((item) => {
        data.push({
          restaurantName: item.restaurantName || '-',
          id: item.id,
          invoiceDate: this.$options.filters.slashedDate(item.invoiceDate),
          dueDate: this.$options.filters.slashedDate(item.dueDate),
          receipt: item.billStatus === 'UNPAID'
            ? 'Waiting for billing'
            : `${window.location.origin}/print/invoice/${item.id}`
        })
      })

      data.unshift({
        restaurantName: 'Restaurant Name',
        id: 'Billing ID',
        invoiceDate: 'Billing Date',
        dueDate: 'Transferred Date',
        receipt: 'Receipt'
      })

      const csv = this.$papa.unparse(data, {
        header: false,
        skipEmptyLines: true,
        encoding: 'ISO-8859-1'
      })

      this.$papa.download(csv, 'billing')
    },
    async getBilling () {
      try {
        this.loading = true
        const { data } = await BillingProvider.getBilling({
          page: this.page,
          limit: this.limit,
          search: this.search,
          startDate: this.startDate,
          endDate: this.endDate
        })
        this.items = data.results
        this.totalPages = data.pages
      } catch (error) {
        console.error('[ERROR] get billing', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    printReceipt (billId) {
      window.open(`/print/invoice/${billId}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;
  // height: 600px;
  // overflow: auto;
}
</style>
