<template>
  <div>
    <div>
      <UserMonthlyBill />
    </div>

    <div class="mt-4">
      <UserReferralBill />
    </div>
  </div>
</template>

<script>
import UserMonthlyBill from '../components/user/MonthliyBill.vue'
import UserReferralBill from '../components/user/ReferralBill.vue'

export default {
  components: {
    UserMonthlyBill,
    UserReferralBill
  }
}
</script>

<style lang="scss" scoped>

</style>
