<template>
  <v-app-bar
    color="white"
    app
    elevate-on-scroll>
    <template v-if="icon">
      <v-icon
        v-if="isMobile"
        large
        @click.stop="toggleNav()">
        mdi-menu
      </v-icon>
      <v-btn
        v-if="appBarIconOption"
        icon
        width="28">
        <v-icon>
          {{ icon }}
        </v-icon>
      </v-btn>
      <v-icon
        v-else
        class="">
        {{ icon }}
      </v-icon>
    </template>
    <v-toolbar-title class="ml-3 font-weight-bold">
      {{ title }}
    </v-toolbar-title>

    <v-spacer />

    <v-menu offset-y>
      <template #activator="{ on, attrs }">
        <div
          v-bind="attrs"
          class="d-flex align-center"
          v-on="on">
          <v-avatar
            color="primary"
            size="48"
            class="mr-2">
            <v-icon color="white">
              mdi-account
            </v-icon>
          </v-avatar>

          <p class="ma-0 text--">
            {{ username }}
            <v-icon
              color="primary"
              small>
              mdi-chevron-down
            </v-icon>
          </p>
        </div>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in menus"
          :key="`appbar-menu-${index}`"
          v-bind="item.bind"
          v-on="item.on">
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import store from '@/store'

export default {
  props: {
    open: {
      type: Boolean,
      default: false
    },
    isMobile: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      menus: [
        {
          title: 'Sign out',
          bind: {
            to: { name: 'SignOutPage' }
          }
        }
      ]
    }
  },
  computed: {
    title () {
      return this.$route.meta?.appBar?.title || 'Title'
    },
    icon () {
      return this.$route.meta?.appBar?.icon?.icon
    },
    appBarIconOption () {
      return this.$route.meta?.appBar.icon?.option
    },

    username () {
      const username = store.getters['User/username']

      return username
    },

    openDrawer: {
      get () {
        return this.open
      },
      set (val) {
        return this.$emit('update:open', val)
      }
    }
  },
  methods: {
    toggleNav () {
      this.openDrawer = !this.openDrawer
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
