<template>
  <v-navigation-drawer
    v-model="openDrawer"
    :mini-variant.sync="mini"
    app>
    <v-list-item class="bg-primary py-2 d-block">
      <img
        src="/logo.svg"
        width="132"
        height="50"
        class="mx-auto d-block" />
      <v-spacer />
      <v-app-bar-nav-icon
        class="white--text d-none d-flex-sm"
        @click="toggleMini()" />
    </v-list-item>

    <v-divider></v-divider>

    <v-list
      dense
      nav>
      <div>
        <div>
          <div
            v-if="!mini"
            class="list-title pa-2">
            Restaurant Management
          </div>

          <v-list-item
            v-for="item in RestaurantItems"
            :key="item.link"
            :to="item.link"
            class="menu-list"
            link
          >
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>

        <div>
          <div
            v-if="!mini"
            class="list-title pa-2">
            PackageItem
          </div>

          <v-list-item
            v-for="item in PackageItem"
            :key="item.link"
            :to="item.link"
            class="menu-list"
            link
          >
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>

        <div>
          <div
            v-if="!mini"
            class="list-title pa-2">
            Financial
          </div>

          <v-list-item
            v-for="item in FinancialSuperAdminItems"
            :key="item.link"
            :to="item.link"
            class="menu-list"
            link
          >
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>

        <div v-if="role === 'super-admin'">
          <div
            v-if="!mini"
            class="list-title pa-2">
            Equipment Setting
          </div>

          <v-list-item
            v-for="item in EquipmentSuperadminItems"
            :key="item.link"
            :to="item.link"
            class="menu-list"
            link
          >
            <div class="d-flex align-center">
              <v-list-item-icon>
                <v-icon color="primary">
                  {{ item.icon }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="menu-text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </div>
          </v-list-item>
        </div>

        <div
          v-if="!mini"
          class="list-title pa-2">
          User Admin
        </div>

        <v-list-item
          v-for="item in AdminItems"
          :key="item.link"
          :to="item.link"
          class="menu-list"
          link
        >
          <div class="d-flex align-center">
            <v-list-item-icon>
              <v-icon color="primary">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="menu-text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </div>
        </v-list-item>
      </div>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import store from '@/store'

export default {
  props: {
    open: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      mini: false,
      AdminItems: [
        {
          title: 'User Admin',
          icon: 'mdi-card-account-details-outline',
          link: '/admin'
        }
      ],
      RestaurantItems: [
        {
          title: 'Restaurant',
          icon: 'mdi-store',
          link: '/restaurant'
        },
        {
          title: 'Report',
          icon: 'mdi-chart-box-outline',
          link: '/report'
        }
      ],
      FinancialSuperAdminItems: [
        {
          title: 'Billing',
          icon: 'mdi-receipt',
          link: '/bill/super-admin'
        }
        // {
        //   title: 'Referral',
        //   icon: 'mdi-barcode',
        //   link: '/referral/super-admin'
        // }
      ],
      EquipmentSuperadminItems: [
        {
          title: 'Equipment',
          icon: 'mdi-ballot-outline',
          link: '/equipment/super-admin'
        }
      ],
      tableItems: [
        {
          title: 'Table',
          icon: 'mdi-stool',
          link: '/table'
        },
        {
          title: 'Table Zone',
          icon: 'mdi-table-column',
          link: '/table/attribute'
        }
      ],
      menuItems: [
        {
          title: 'Menu',
          icon: 'mdi-silverware-fork-knife',
          link: '/menu'
        },
        {
          title: 'Categories',
          icon: 'mdi-book-open-variant',
          link: '/menu/attribute'
        }
      ],
      // Subscriptionitems: [
      //   {
      //     title: 'Subscription',
      //     icon: 'mdi-pin',
      //     link: '/subscription/user'
      //   }
      // ],
      BillItems: [
        {
          title: 'Bill',
          icon: 'mdi-receipt',
          link: '/bill/user'
        }
      ],
      settingItems: [
        {
          title: 'Restaurant',
          icon: 'mdi-domain',
          link: '/restaurant/setting'
        },
        {
          title: 'Subscription',
          icon: 'mdi-pin',
          link: '/subscription/user'
        }
      ],
      PackageItem: [
        {
          title: 'Package',
          icon: 'mdi-package-variant-closed',
          link: '/package'
        }
      ],
      reportItems: [
        {
          title: 'Report',
          icon: 'mdi-chart-pie',
          link: '/'
        }
      ],
      items: [],
      right: null
    }
  },
  computed: {
    role () {
      return store.getters['User/role'] || null
    },
    openDrawer: {
      get () {
        return this.open
      },
      set (val) {
        return this.$emit('update:open', val)
      }
    }
  },
  methods: {
    toggleMini () {
      this.mini = !this.mini
    }
  }
}
</script>

<style lang="scss" scoped>
.list-title {
  color: #d1d1d1;
}

.menu-list {
  height: 60px;
  color: #b2cc53;
}

.menu-list-active {
  background-color: #b2cc53;
  color: white;
}

.menu-text {
  font-size: 1rem !important;
  color: #b2cc53;
}
</style>
