<template>
  <div>
    <div class="print__navbar d-flex justify-end w-full white py-2 px-4 mb-4">
      <v-btn
        color="primary"
        depressed
        @click="print()">
        Print
      </v-btn>
    </div>
    <div class="box">
      <div
        style="position: relative;"
        class="paper">
        <div class="text-center">
          <h2> ACH File </h2>
        </div>
        <div class="mt-10 font-weight-bold">
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Account Name :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.name || '-' }}
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Account Type :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.accountType || '-' }}
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Account Number :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.accountNumber || '-' }}
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Routing Number :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.routingNumber || '-' }}
              </div>
            </v-col>
          </v-row>
        </div>
        <p class="mt-10">
          I authorize T Thai LLC hereinafter named COMPANY to initiate recurring ACH/electronic debit to the bank account on record on
          monthly debits for billing subscription. I agree that ACH transactions I authorize comply with all applicable law.
          I understand that this authorization will remain in full force and effect until I notify COMPANY in writing to PO Box 160493,
          Boiling Springs, SC 29316 that I wish to revoke this authorization. I understand that COMPANY requires at least 30 days prior
          notice in order to cancel this authorization. Payments made after 6:00 P.M eastern time will be applied as of the next business day.
          To complete the payment process, click the “authorize” button. Once payment is authorized, there cannot be any changes or corrections.
          It is recommended that you print a copy of this authorization and maintain it for your records.
        </p>
        <p>
          I guarantee and warrant that I am an authorized user of this bank account and that I am legally authorized to enter into this
          billing agreement with the COMPANY. I certify that I will not dispute this scheduled transaction (s) with my bank so long as the
          transactions correspond to the terms indicated in this authorization form.
        </p>
        <div class="mt-10 font-weight-bold">
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Signature :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.signature || '-' }}
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Print Name :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.printName || '-' }}
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Title :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.title || '-' }}
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3">
              Date :
            </v-col>
            <v-col
              cols="12"
              sm="4">
              <div style="border-bottom: 1px dashed black;">
                {{ achInfo.date | slashedDate }}
              </div>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RestaurantProvider from '@/resources/RestaurantProvider'

export default {
  name: 'ACHFilePrint',
  data () {
    return {
      achInfo: {
        id: null,
        date: null,
        signature: '',
        routingNumber: '',
        accountNumber: '',
        accountType: '',
        title: '',
        printName: '',
        name: '',
        restaurantId: ''
      }
    }
  },
  mounted () {
    this.getAchInfo()
  },
  methods: {
    async getAchInfo () {
      try {
        const { data } = await RestaurantProvider.getAchById(this.$route.params.achfileId)
        this.achInfo = {
          ...data
        }
      } catch (error) {
        console.error('[ERROR] get ACH info', error)
        if (error.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        }
      }
    },
    print () {
      window.print()
    }
  }
}
</script>

<style lang="scss" scoped>
@page {
  size: letter;
  margin: 0;
}
@media print {
  html, body {
    width: 8.5in;
    height: 11in;
  }
  .print__navbar {
    display: none !important;;
  }
  /* ... the rest of the rules ... */
}
.box{
  display: flex;
  justify-content: center;

}
.paper{
  width: 8.5in;
  height: 11in;
  background-color: white;
  padding: 5mm;
}
</style>
