<template>
  <div>
    <div class="print__navbar d-flex justify-end w-full white py-2 px-4 mb-4">
      <v-btn
        color="primary"
        depressed
        @click="print()">
        Print
      </v-btn>
    </div>
    <div class="box">
      <div
        style="position: relative;"
        class="paper">
        <div class="text-center">
          <h2> Invoice </h2>
        </div>
        <div class="mt-5 font-weight-medium">
          T Thai LLC  <br>
          PO Box 160493 <br>
          Boiling Springs, SC 29316
        </div>
        <v-divider class="mt-3"></v-divider>
        <div class="mt-5">
          <span class="font-weight-medium">Period :  </span>
          {{ billingInfo.startedPeriod | slashedDate }} - {{ billingInfo.endedPeriod | slashedDate }} <br>
          <span class="font-weight-medium">Invoice Date : </span>
          {{ billingInfo.invoiceDate | slashedDate }} <br>
          <span class="font-weight-medium">Due Date : </span>
          {{ billingInfo.dueDate | slashedDate }}
        </div>
        <v-divider class="mt-3"></v-divider>
        <div class="mt-5">
          <span class="font-weight-medium"> BILL TO : </span>
          <div
            v-if="!billingInfo?.restaurant"
            class="px-3 mt-1">
            -
          </div>
          <div
            v-else
            class="px-3 mt-1">
            <div>{{ billingInfo?.restaurant?.dba }}</div>
            <div>
              {{ billingInfo?.restaurant?.address?.address }}
              {{ billingInfo?.restaurant?.address?.city }}
              {{ billingInfo?.restaurant?.address?.state }}
              {{ billingInfo?.restaurant?.address?.zipCode }}
            </div>
          </div>
        </div>
        <div class="mt-5">
          <v-row class="font-weight-medium">
            <v-col cols="6">
              Service Description
            </v-col>
            <v-col cols="3">
              Quantity
            </v-col>
            <v-col cols="3">
              Amount
            </v-col>
          </v-row>
          <v-row
            v-for="(item, i) in billingInfo.items"
            :key="`bill-item-${i}`"
            class="ma-0 py-1 font-weight-light">
            <v-col
              cols="6"
              class="py-0">
              {{ item.description }}
            </v-col>
            <v-col
              cols="3"
              class="py-0">
              {{ item?.quantity | fullNumberNoDecimal }}
            </v-col>
            <v-col
              cols="3"
              class="py-0">
              $ {{ item?.amount | fullNumber2Decimal }}
            </v-col>
          </v-row>
        </div>
        <v-divider class="mt-3"></v-divider>
        <div class="mt-5">
          <v-row class="ma-0">
            <v-col
              cols="6"
              class="font-weight-medium">
              Amount Due
            </v-col>
            <v-col
              cols="6"
              class="d-flex justify-end">
              $ {{ billingInfo?.amountDue | fullNumber2Decimal }}
            </v-col>
          </v-row>
        </div>
        <v-divider class="mt-3"></v-divider>
        <div
          v-if="!billingInfo.transaction"
          class="mt-5">
          Paid by - on - <br>
          <span class="font-weight-medium">  Auth Code :</span>  -
        </div>
        <div
          v-else
          class="mt-5">
          Paid by ACH ending {{ billingInfo?.transaction?.response?.account?.slice(-4) }} on
          {{ billingInfo?.transaction?.createdAt | slashedDate }} <br>
          <span class="font-weight-medium">  Auth Code :</span> {{ billingInfo?.transaction?.response?.authcode }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BillingProvider from '@/resources/BillingProvider'

export default {
  name: 'InvoicePrint',
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  data () {
    return {
      billingInfo: {
        id: '',
        amountDue: null,
        items: [],
        startedPeriod: null,
        endPeriod: null
      }
    }
  },
  mounted () {
    this.getBillingById()
  },
  methods: {
    async getBillingById () {
      try {
        const { data } = await BillingProvider.getBillingById(this.$route.params.billingId)
        this.billingInfo = {
          ...data
        }
      } catch (error) {
        console.error('[ERROR] get billing by id', error)
        if (error.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        }
      }
    },
    print () {
      window.print()
    }
  }
}
</script>

<style lang="scss" scoped>
@page {
  size: letter;
  margin: 0;
}
@media print {
  html, body {
    width: 8.5in;
    height: 11in;
  }
  .print__navbar {
    display: none !important;
  }
  /* ... the rest of the rules ... */
}
.box{
  display: flex;
  justify-content: center;
}
.paper{
  width: 8.5in;
  height: 11in;
  background-color: white;
  padding: 5mm;
}
</style>
