<template>
  <div>
    <div>
      <v-btn
        color="primary"
        icon
        @click="$router.go(-1)">
        <v-icon>
          mdi-arrow-left
        </v-icon>
      </v-btn>
    </div>

    <RestaurantProfile
      :name="restaurantInfo.dba"
      :dba="restaurantInfo.dba"
      :ein="restaurantInfo.ein"
      :address="restaurantInfo.address"
      :city="restaurantInfo.city"
      :state="restaurantInfo.state"
      :zip-code="restaurantInfo.zipCode"
      :phone="restaurantInfo.phone"
      :email="restaurantInfo.email"
      class="mb-4" />

    <PaymentInfo
      :merchant-id="paymentGateway.merchantId"
      :status="paymentGateway.status"
      :payment-credit-card-charges="paymentGateway.paymentCreditCardCharges"
      :ach-payment-file="achPaymentFile"
      :credit-card="posProcessingFee.creditCard"
      :debit-card="posProcessingFee.debitCard"
      class="mb-4"
      @submit:credit="updateCreditFee($event)"
      @submit:debit="updateDebitFee($event)" />

    <SubscriptionList class="mb-4" />

    <BillingList />
  </div>
</template>

<script>
import RestaurantProvider from '@/resources/RestaurantProvider'
import SubscriptionList from '../components/SubscriptionList.vue'
import RestaurantProfile from '../components/RestaurantProfile.vue'
import PaymentInfo from '../components/PaymentInfo.vue'
import BillingList from '../components/BillingList.vue'

export default {
  name: 'RestaurantDetail',
  components: {
    RestaurantProfile,
    PaymentInfo,
    SubscriptionList,
    BillingList
  },
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  data () {
    return {
      restaurantInfo: {
        dba: '',
        ein: '',
        phone: '',
        email: '',
        address: '',
        city: '',
        state: '',
        zipCode: ''
      },
      paymentGateway: {
        merchantId: '',
        status: '',
        paymentCreditCardCharges: ''
      },
      achPaymentFile: [],
      posProcessingFee: {
        creditCard: null,
        debitCard: null
      },
      isPosFeeCreditEdit: false,
      isPosFeeDebitEdit: false
    }
  },
  mounted () {
    this.getRestaurantById()
  },
  methods: {
    statusColor (status) {
      if (status === 'active') {
        return 'activeColor'
      }
      if (status === 'inactive') {
        return 'suspendedColor'
      }
      return 'suspendedColor'
    },
    async getRestaurantById () {
      try {
        const { data } = await RestaurantProvider.getRestaurantById(this.$route.params.id)
        this.restaurantInfo = {
          ...data.profile
        }
        this.paymentGateway = {
          ...data.paymentGateway
        }
        this.achPaymentFile = data.achPaymentFile
        this.posProcessingFee = {
          ...data.posProcessingFee
        }
      } catch (error) {
        console.error('[ERROR] get restaurant by id', error)
        if (error.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        }
      }
    },
    async updateCreditFee (newValue) {
      try {
        await RestaurantProvider.updateRestaurantCreditFee(this.$route.params.id, {
          fee: Number(newValue)
        })
        this.getRestaurantById()
      } catch (error) {
        console.error('[ERROR] update credit fee', error)
        if (error.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        }
      }
    },
    async updateDebitFee (newValue) {
      try {
        await RestaurantProvider.updateRestaurantDebitFee(this.$route.params.id, {
          fee: Number(newValue)
        })
        this.getRestaurantById()
      } catch (error) {
        console.error('[ERROR] update credit fee', error)
        if (error.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: error.message || 'Something went wrong'
          })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.fee-input{
  border: 1px gray solid;
  max-width: 100px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
