<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="search"
              placeholder="Search"
              dense
              hide-details
              @keydown.enter="getRestaurant()" />
          </div>
          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              dark
              @click="getRestaurant()">
              Search
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="my-card table-card">
      <v-card-text>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="items"
          class="elevation-0 table"
          hide-default-footer>
          <template #[`item.dba`]="{ item }">
            <RouterLink
              :to="{ name: 'RestaurantDetail', params: { id: item.id} }"
              class="black--text">
              {{ item.dba || item.legalBusinessName }}
            </RouterLink>
          </template>
          <template #[`item.status`]="{ item }">
            <div :class="statusColor(item.status)">
              {{ item.status | toStatus }}
            </div>
          </template>
          <template #[`item.action`]="{ item }">
            <div class="d-flex align-center">
              <v-btn
                :to="{ name: 'RestaurantDetail', params: { id: item.id} }"
                icon>
                <v-icon small>
                  mdi-pencil-box-outline
                </v-icon>
              </v-btn>
              <v-divider
                class="mx-2"
                vertical>
              </v-divider>
              <v-btn
                v-if="item.status === 'active'"
                width="130"
                color="red"
                text
                @click="deActivateRestaurantById(item.id)">
                deactivate
              </v-btn>
              <v-btn
                v-else
                width="130"
                color="success"
                text
                @click="activateRestaurantById(item.id)">
                activate
              </v-btn>
              <v-divider
                class="mx-2"
                vertical>
              </v-divider>
              <RestaurantDelete
                :name="item.dba"
                @click:delete="deleteRestaurantById(item.id)" />
            </div>
          </template>
        </v-data-table>
        <div class="d-flex justify-end mt-4">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getRestaurant()" />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import RestaurantProvider from '@/resources/RestaurantProvider'
import RestaurantDelete from '../components/RestaurantDelete.vue'

export default {
  name: 'RestaurantListPage',
  components: {
    RestaurantDelete
  },
  filters: {
    toStatus (val) {
      if (!val) return '-'
      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    }
  },
  data () {
    return {
      loading: false,
      search: '',
      page: 1,
      limit: 10,
      totalPages: 1,
      headers: [
        {
          text: 'Restaurant Name',
          value: 'dba'
        },
        {
          text: 'State',
          value: 'address.state'
        },
        {
          text: 'Phone Number',
          value: 'phone'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Status',
          value: 'status'
        },
        {
          text: 'Manage',
          value: 'action'
        }
      ],
      items: []
    }
  },
  mounted () {
    this.getRestaurant()
  },
  methods: {
    statusColor (status) {
      if (status === 'active') {
        return 'activeColor'
      }
      if (status === 'suspended') {
        return 'suspendedColor'
      }
      return 'suspendedColor'
    },
    async getRestaurant () {
      try {
        this.loading = true
        const { data } = await RestaurantProvider.getRestaurant({
          page: this.page,
          limit: this.limit,
          search: this.search
        })
        this.items = data.results
        this.totalPages = data.pages
      } catch (error) {
        console.error('[ERROR] get restaurant', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async activateRestaurantById (restaurantId) {
      try {
        this.loading = true
        await RestaurantProvider.activateRestaurantById(restaurantId)
        this.getRestaurant()
      } catch (error) {
        console.error('[ERROR] actiavte restaurant by id')
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async deActivateRestaurantById (restaurantId) {
      try {
        this.loading = true
        await RestaurantProvider.deActivateRestaurantById(restaurantId)
        this.getRestaurant()
      } catch (error) {
        console.error('[ERROR] deactiavte restaurant by id')
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async deleteRestaurantById (restaurantId) {
      try {
        this.loading = true
        await RestaurantProvider.deleteRestaurantById(restaurantId)
        this.getRestaurant()
      } catch (error) {
        console.error('[ERROR] delete restaurant by id')
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;
  height: 100%;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

</style>
