<template>
  <div>
    <v-card class="my-card px-12 py-5">
      <div class="text-center head-title mb-10">
        Add Package
      </div>
      <PackageForm
        :submitting="submitting"
        :name="form.name"
        :description="form.description"
        :daily-price="form.dailyPrice"
        :monthly-price="form.monthlyPrice"
        :yearly-price="form.yearlyPrice"
        :package-type="form.packageType"
        :i-pad-capacity="form.iPadCapacity"
        :is-active-default="form.isActiveDefault"
        @update:input="updateInput($event)"
        @submit="submit()" />
    </v-card>
  </div>
</template>

<script>
import PackageProvider from '@/resources/PackageProvider'
import PackageForm from '../components/PackageForm.vue'

export default {
  name: 'PackageAddPage',
  components: {
    PackageForm
  },
  data () {
    return {
      submitting: false,
      form: {
        name: '',
        description: '',
        monthlyPrice: null,
        yearlyPrice: null,
        dailyPrice: null,
        isActiveDefault: false,
        iPadCapacity: null,
        packageType: []
      }
    }
  },
  methods: {
    updateInput (event) {
      this.form[event.name] = event.value
    },
    async submit () {
      try {
        this.submitting = true
        await PackageProvider.createPackage({
          name: this.form.name,
          // dailyPrice: Number(this.form.dailyPrice),
          monthlyPrice: Number(this.form.monthlyPrice),
          yearlyPrice: Number(this.form.yearlyPrice),
          description: this.form.description,
          isActiveDefault: this.form.isActiveDefault,
          iPadCapacity: this.form.packageType.some((type) => type === 'IPAD')
            ? Number(this.form.iPadCapacity)
            : null,
          packageType: this.form.packageType
        })
        return this.$router.push('/package')
      } catch (err) {
        if (err.statusCode === 400) {
          return this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
        return this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: err.message || 'Something went wrong',
          confirmCallback: () => { console.log('close') }
        })
      } finally {
        this.submitting = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
