<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="search"
              hide-details
              dense
              placeholder="Search"
              @keydown.enter="getPackageList()" />
          </div>
          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getPackageList()">
              Search
            </v-btn>
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end ">
          <v-btn
            outlined
            color="#1E2546"
            class="font-weight-light   text-none rounded-lg"
            to="/package/add">
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Add Package
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-card class="my-card table-card">
      <v-card-text>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="packages"
          class="elevation-0 table"
          hide-default-footer>
          <template #[`item.name`]="{ item }">
            <div style="min-width: 100px;">
              {{ item.name }}
            </div>
          </template>
          <template #[`item.description`]="{ item }">
            <div style="min-width: 100px;">
              {{ item.description || '-' }}
            </div>
          </template>
          <template #[`item.dailyPrice`]="{ item }">
            <div style="min-width: 100px;">
              $ {{ item.dailyPrice | fullNumber2Decimal }}
            </div>
          </template>
          <template #[`item.monthlyPrice`]="{ item }">
            <div style="min-width: 100px;">
              $ {{ item.monthlyPrice | fullNumber2Decimal }}
            </div>
          </template>
          <template #[`item.yearlyPrice`]="{ item }">
            <div style="min-width: 100px;">
              $ {{ item.yearlyPrice | fullNumber2Decimal }}
            </div>
          </template>
          <template #[`item.status`]="{ item }">
            <div style="min-width: 100px;">
              {{ item.status }}
            </div>
          </template>
          <template #[`item.action`]="{ item }">
            <div class="d-flex">
              <v-btn
                icon
                :to="`/package/edit/${item.id}`">
                <v-icon small>
                  mdi-pencil-box-outline
                </v-icon>
              </v-btn>
              <PackageDeleteModal
                :item-info="item"
                @delete="deletePackage(item)" />
            </div>
          </template>
        </v-data-table>
        <div class="d-flex justify-end mt-4">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getPackageList()" />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import PackageProvider from '@/resources/PackageProvider'
import dayjs from 'dayjs'
import PackageDeleteModal from '../components/PackageDeleteModal.vue'

export default {
  name: 'PackageList',
  components: {
    PackageDeleteModal
  },
  filters: {
    toDate (val) {
      if (!val) return '-'
      return dayjs(val).format('DD MMM YYYY')
    },
    toStatus (val) {
      if (!val) return '-'
      if (val === 'inactive') {
        return 'suspended'
      }
      return val
    }
  },
  data () {
    return {
      search: '',
      page: 1,
      limit: 10,
      totalPages: 1,
      headers: [
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Description',
          value: 'description'
        },
        {
          text: 'Daily Price',
          value: 'dailyPrice',
          align: 'end'
        },
        {
          text: 'Monthly Price',
          value: 'monthlyPrice',
          align: 'end'
        },
        {
          text: 'Yearly Price',
          value: 'yearlyPrice',
          align: 'end'
        },
        {
          text: 'Status',
          value: 'status',
          align: 'center'
        },
        {
          text: 'Manage',
          value: 'action'
        }
      ],
      packages: [],
      loading: false
    }
  },
  mounted () {
    this.getPackageList()
  },
  methods: {
    statusColor (status) {
      if (status === 'active') {
        return 'activeColor'
      }
      if (status === 'suspended') {
        return 'suspendedColor'
      }
      return 'suspendedColor'
    },
    async getPackageList () {
      try {
        this.loading = true
        const { data } = await PackageProvider.getPackage({
          page: this.page,
          limit: this.limit,
          search: this.search
        })
        this.packages = data.results
        this.totalPages = data.pages
      } catch (error) {
        console.log('[ERROR] get package list', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    },
    async deletePackage (item) {
      try {
        await PackageProvider.deletePackage(item.id)
        this.getPackageList()
      } catch (error) {
        console.error('[ERROR] package delete', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.activeColor {
  color: #6FCF97
}

.suspendedColor {
  color: #D1D1D1
}

.table-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546
}

.my-border {
  border-bottom: 1px solid #1E2546;
}

.table-card {
  margin-top: 15px;
  // height: 600px;
  // overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.my-card {
  border-radius: 8px;
}
</style>
