<template>
  <div>
    <v-card
      elevation="1"
      class="my-card mb-4">
      <v-card-text class="px-8">
        <v-row class="d-flex justify-space-between ">
          <v-col
            cols="12"
            sm="6"
            class="d-flex"
            style="width:100%">
            <div class="d-flex align-center my-search-input mr-2 ">
              <v-text-field
                v-model="search"
                placeholder="Search"
                hide-details
                dense
                @keydown.enter="getReportAdmin()" />
            </div>
            <div class="d-flex align-center ml-2">
              <v-btn
                elevation="0"
                dark
                height="40px"
                color="#1E2546"
                class="text-none font-weight-light rounded-lg"
                @click="getReportAdmin()">
                Search
              </v-btn>
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col
            cols="12"
            sm="4"
            md="3">
            <div class="d-flex justify-end w-full">
              <v-select
                v-model="selectedFilter"
                :items="filterList"
                item-text="text"
                item-value="value"
                dense
                outlined
                hide-details
                @input="selectFilter()">
              </v-select>
            </div>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-card class="my-card table-card">
      <v-card-title class="pb-2">
        <h3> Restaurant Summary  </h3>
      </v-card-title>
      <v-card-text>
        <v-row class="ma-0">
          <v-col
            cols="12"
            sm="6">
            <div
              v-if="selectedFilter === 'today'"
              class="d-flex align-center">
              <v-menu
                v-model="startDateMenu"
                transition="scale-transition"
                offset-y
                min-width="auto">
                <template #activator="{ on, attrs }">
                  <v-text-field
                    :value="$dayjs(startDate).format('DD/MM/YYYY')"
                    label="Start Date"
                    append-icon="mdi-calendar"
                    dense
                    readonly
                    outlined
                    hide-details
                    v-bind="attrs"
                    v-on="on" />
                </template>
                <v-date-picker
                  v-model="startDate"
                  :max="$dayjs().format('YYYY-MM-DD')"
                  no-title
                  scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="startDateMenu = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="startDateMenu = false">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
              <div class="subtitle-1 mx-4">
                To
              </div>
              <v-menu
                v-model="endDateMenu"
                transition="scale-transition"
                offset-y
                min-width="auto">
                <template #activator="{ on, attrs }">
                  <v-text-field
                    :value="$dayjs(endDate).format('DD/MM/YYYY')"
                    label="End Date"
                    append-icon="mdi-calendar"
                    dense
                    outlined
                    readonly
                    hide-details
                    v-bind="attrs"
                    v-on="on" />
                </template>
                <v-date-picker
                  v-model="endDate"
                  :max="$dayjs().format('YYYY-MM-DD')"
                  no-title
                  scrollable>
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="endDateMenu = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="endDateMenu = false">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
              <v-btn
                min-width="0"
                class="ml-4"
                text
                @click="getReportAdmin()">
                <v-icon color="primary">
                  mdi-magnify
                </v-icon>
              </v-btn>
            </div>
            <div
              v-else
              class="subtitle-1 font-weight-bold">
              {{ startDate | dateMiniMonthYear }} - {{ endDate | dateMiniMonthYear }}
            </div>
          </v-col>
        </v-row>
        <v-data-table
          :loading="loading"
          :headers="headers"
          :items="items"
          hide-default-footer
          class="elevation-0 table">
          <template #[`item.restaurantName`]="{ item }">
            {{ item.restaurantName || '-' }}
          </template>
          <template #[`item.totalOrders`]="{ item }">
            {{ item.totalOrders }}
          </template>
          <template #[`item.grossSales`]="{ item }">
            $ {{ item.grossSales | fullNumber2Decimal }}
          </template>
          <template #[`item.net`]="{ item }">
            $ {{ item.net | fullNumber2Decimal }}
          </template>
        </v-data-table>
        <div class="d-flex justify-end mt-4">
          <v-pagination
            v-model="page"
            :length="totalPages"
            @input="getReportAdmin()" />
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ReportProvider from '@/resources/ReportProvider'

export default {
  name: 'ReportListPage',
  data () {
    return {
      startDateMenu: false,
      endDateMenu: false,
      loading: false,
      page: 1,
      limit: 10,
      totalPages: 1,
      search: '',
      startDate: this.$dayjs().format('YYYY-MM-DD'),
      endDate: this.$dayjs().format('YYYY-MM-DD'),
      selectedFilter: 'today',
      filterList: [
        {
          text: 'To Day',
          value: 'today'
        },
        {
          text: 'This Week',
          value: 'week'
        },
        {
          text: 'This Month',
          value: 'month'
        },
        {
          text: 'This Year',
          value: 'year'
        },
        {
          text: 'Date Range',
          value: 'range'
        }
      ],
      headers: [
        {
          text: ' Restaurant Name',
          value: 'restaurantName'
        },
        {
          text: 'Total Order ',
          value: 'totalOrders',
          align: 'end'
        },
        {
          text: 'Gross Sale',
          value: 'grossSales',
          align: 'end'
        },
        {
          text: 'Net ',
          value: 'net',
          align: 'end'
        }
      ],
      items: []
    }
  },
  mounted () {
    this.getReportAdmin()
  },
  methods: {
    selectFilter () {
      if (this.selectedFilter === 'today') {
        this.startDate = this.$dayjs().format('YYYY-MM-DD')
        this.endDate = this.$dayjs().format('YYYY-MM-DD')
      } else if (this.selectedFilter === 'week') {
        this.startDate = this.$dayjs().startOf('week').format('YYYY-MM-DD')
        this.endDate = this.$dayjs().endOf('week').format('YYYY-MM-DD')
      } else if (this.selectedFilter === 'month') {
        this.startDate = this.$dayjs().startOf('month').format('YYYY-MM-DD')
        this.endDate = this.$dayjs().endOf('month').format('YYYY-MM-DD')
      } else if (this.selectedFilter === 'year') {
        this.startDate = this.$dayjs().startOf('year').format('YYYY-MM-DD')
        this.endDate = this.$dayjs().endOf('year').format('YYYY-MM-DD')
      }
      this.getReportAdmin()
    },
    async getReportAdmin () {
      try {
        this.loading = true
        const { data } = await ReportProvider.getReportAdmin({
          page: this.page,
          limit: 10,
          search: this.search,
          startDate: this.$dayjs(this.startDate).startOf('day').format(),
          endDate: this.$dayjs(this.endDate).endOf('day').format()
        })
        this.items = data.results
        this.totalPages = data.pages
      } catch (error) {
        console.error('[ERROR] get report admin', error)
        this.$notify.open({
          mode: 'alert',
          type: 'error',
          title: 'Sorry',
          icon: 'mdi-close-circle-outline',
          message: error.message || 'Something went wrong'
        })
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;
  // height: 600px;
  // overflow: auto;
}

.my-search-input {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.my-card {
  border-radius: 8px;
}
</style>
