<template>
  <div>
    <v-card class="my-card rounded-lg table-card mt-0 pa-4">
      <v-row class="justify-space-between">
        <v-col
          cols="12"
          sm="4">
          <div class="filter-input">
            <v-select
              v-model="filter"
              :items="filterEnum"
              dense
              hide-details=""
              outlined></v-select>
          </div>
        </v-col>
        <v-col
          class=""
          cols="12"
          sm="8">
          <div class=" d-flex justify-end">
            <report-input
              :filter="filter"
              @dateChange="dateChange($event)" />
          </div>
        </v-col>
      </v-row>
      <div class="px-1 py-4 font-weight-medium">
        {{ dateShow }}
      </div>
      <v-divider class="mb-2"></v-divider>
      <h2 class="font-weight-medium mb-2">
        Sales Summarys
      </h2>
      <v-row>
        <v-col
          cols="12"
          sm="6">
          <div class="chart">
            <chart
              :is-chart-update="isChartUpdate"
              :datasets="dataInfo.datasets"
              :labels="dataInfo.labels"
              :data-info="dataInfo"
              @chartUpdated="chartUpdated"
            />
          </div>
        </v-col>
        <v-col
          cols="12"
          sm="6"
          class="">
          <report-table-sumary
            class="w-full "
            :summary-info="reportInfo.summary"
            :loading="loading"
            :report-type="filter"
          />
        </v-col>
      </v-row>

      <v-row class="mt-2">
        <v-col
          cols="12"
          sm="6">
          <h2 class="font-weight-medium mb-n1">
            Orders Summarys
          </h2>
          <report-order-summary
            :loading="loading"
            :order-summary="reportInfo.orderTypeSummary" />
        </v-col>
        <v-col
          cols="12"
          sm="6"
        >
          <h2 class="font-weight-medium mb-n1">
            Payments Summary
          </h2>

          <report-payment-summary
            :loading="loading"
            :payment-summary="reportInfo.paymentMethodSummary" />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import ReportProvider from '@/resources/ReportProvider'
import ReportInput from '../components/ReportInput.vue'
import ReportTableSumary from '../components/RportTableSumary.vue'
import ReportOrderSummary from '../components/ReportOrderSummary.vue'
import ReportPaymentSummary from '../components/ReportPaymentSummary.vue'
import chart from '../components/ReportChart.vue'

const reportService = new ReportProvider()

export default {
  name: 'ReportHome',
  components: {
    chart,
    ReportInput,
    ReportTableSumary,
    ReportOrderSummary,
    ReportPaymentSummary
  },
  data () {
    return {
      loading: true,
      filterEnum: [{
        text: 'To Day',
        value: 'toDay'
      },
      {
        text: 'This Week',
        value: 'thisWeek'
      },
      {
        text: 'This Month',
        value: 'thisMonth'
      },
      {
        text: 'This Year',
        value: 'thisYear'
      },
      {
        text: 'Date range',
        value: 'dateRange'
      }
      ],
      filter: 'toDay',
      date: {
        startDate: dayjs(new Date()).format('YYYY-MM-DD'),
        endDate: dayjs(new Date()).format('YYYY-MM-DD')
      },
      dataInfo: {
        labels: [],
        datasets: [{
          label: 'Net ( $ )',
          backgroundColor: '#B2CC53',
          borderColor: 'rgb(255, 99, 132)',
          data: [0, 0, 0, 0, 0, 10, 20, 50, 46, 100, 40, 60, 75, 80, 85]
        }]
      },
      monthLabels: [
        'January', 'February', 'March', 'April', 'May', 'June', 'July',
        'August', 'September', 'October', 'November', 'December'
      ],
      isChartUpdate: false,
      reportInfo: {}
    }
  },
  computed: {
    dateShow () {
      if (this.filter === 'thisYear') {
        return `${dayjs().startOf('year').format('MMM YYYY')} - ${dayjs().endOf('year').format('MMM YYYY')}`
      }

      if (this.filter === 'toDay') {
        return dayjs(new Date()).format('DD MMM YYYY')
      }

      return `${dayjs(this.date.startDate).format('DD MMM YYYY')} - ${dayjs(this.date.endDate).format('DD MMM YYYY')}`
    }
  },
  watch: {
    filter () {
      if (this.filter === 'toDay') {
        this.dataInfo.labels = this.timeLabels()
        return this.getTodayReport()
      }

      if (this.filter === 'thisYear') {
        this.getThisYearReport()
        this.dataInfo.labels = this.monthLabels
        this.isChartUpdate = true
      }

      return null
    }
  },
  mounted () {
    this.dataInfo.labels = this.timeLabels()
    this.getTodayReport()
  },
  methods: {
    chartUpdated () {
      this.isChartUpdate = false
    },

    async getDateRangeReport () {
      try {
        const {
          data
        } = await reportService.getDateRangeReport({
          startDate: this.date.startDate,
          endDate: this.date.endDate
        })

        this.dataInfo.datasets[0].data = data.orders
        console.log(data)
      } catch (err) {
        console.error(err)
      }
    },
    async getTodayReport () {
      try {
        this.loading = true
        const {
          data
        } = await reportService.getTodayReport({
          date: this.date.startDate
        })
        this.reportInfo = data
        this.dataInfo.datasets[0].data = data.orders
        this.isChartUpdate = true
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    },
    async getThisWeekReport () {
      try {
        this.loading = true
        const {
          data
        } = await reportService.getThisWeekReport()
        this.reportInfo = data
        this.dataInfo.datasets[0].data = data.orders
        this.isChartUpdate = true
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    },
    async getThisMonthReport () {
      try {
        this.loading = true
        const {
          data
        } = await reportService.getThisMonthReport()
        this.reportInfo = data

        this.dataInfo.datasets[0].data = data.orders
        this.isChartUpdate = true
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    },
    async getThisYearReport () {
      try {
        this.loading = true
        const {
          data
        } = await reportService.getThisYearReport()
        this.reportInfo = data

        this.dataInfo.datasets[0].data = data.orders
        this.isChartUpdate = true
      } catch (err) {
        console.error(err)
      } finally {
        this.loading = false
      }
    },
    timeLabels () {
      const labels = []
      for (let i = 0; i <= 23; i++) {
        labels.push(`${i.toString().padStart(2, '0')}.00`)
      }

      return labels
    },
    dateChange (val) {
      if (this.filter === 'dateRange') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        const labels = this.getDatesInRange(val.startDate, val.endDate)
        this.dataInfo.labels = labels
        this.getDateRangeReport()
        this.isChartUpdate = true
      }

      if (this.filter === 'thisWeek') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        const labels = this.getDatesInRange(val.startDate, val.endDate)
        this.dataInfo.labels = labels
        this.getThisWeekReport()
        this.isChartUpdate = true
      }

      if (this.filter === 'thisMonth') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        const labels = this.getDatesInRange(val.startDate, val.endDate)
        this.dataInfo.labels = labels
        this.getThisMonthReport()
        this.isChartUpdate = true
      }

      if (this.filter === 'toDay') {
        this.date = {
          startDate: val.startDate,
          endDate: val.endDate
        }
        this.getTodayReport()
        this.isChartUpdate = true
      }

      return null
    },
    getDatesInRange (d1, d2) {
      const startDate = new Date(d1)
      const endDate = new Date(d2)
      const date = new Date(startDate.getTime())

      const dates = []

      while (date <= endDate) {
        dates.push(dayjs(new Date(date)).format('YYYY-MM-DD'))
        date.setDate(date.getDate() + 1)
      }

      return dates
    }
  }

}
</script>

<style lang="scss" scoped>

</style>
