<template>
  <v-app>
    <NavigationDrawer
      :open.sync="openDrawerComputed"
      :is-mobile="isMobile" />
    <AppBar
      :open.sync="openDrawerComputed"
      :is-mobile="isMobile" />
    <v-main id="main-content">
      <router-view class="content" />
    </v-main>
  </v-app>
</template>

<script>
import AppBar from '@/components/AppBar.vue'
import NavigationDrawer from '@/components/NavigationDrawer.vue'

export default {
  name: 'DefaultLayout',
  components: {
    AppBar,
    NavigationDrawer
  },
  data () {
    return {
      openDrawer: false
    }
  },
  computed: {
    isMobile () {
      return this.$vuetify.breakpoint.mobile
    },
    openDrawerComputed: {
      get () {
        if (!this.isMobile) {
          return true
        }
        return this.openDrawer
      },
      set (val) {
        if (!this.isMobile) {
          this.openDrawer = true
        }
        this.openDrawer = val
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.content {
  padding: 15px;
}
</style>
