<template>
  <div>
    <!-- selling report -->
    <div
      v-if="filter === 'dateRange'"
      class="d-flex align-center">
      <v-form>
        <v-row class="mx-0 my-0 align-center d-none d-sm-flex">
          <v-text-field
            v-model="startDate"
            outlined
            dense
            hide-details=""
            :max="maxDate"
            type="date"></v-text-field>
          <div class="mx-3 ">
            To
          </div>

          <v-text-field
            v-model="endDate"
            outlined
            dense
            :min="minDate"
            hide-details=""
            type="date"></v-text-field>
        </v-row>

        <v-row class="mx-0 my-0 align-center d-sm-none">
          <v-col
            cols="12"
            class="pa-0">
            <v-text-field
              v-model="startDate"
              outlined
              dense
              hide-details=""
              :max="maxDate"
              type="date"></v-text-field>
          </v-col>

          <v-col
            cols="12"
            class="px-0 text-center">
            <div>
              To
            </div>
          </v-col>
          <v-col
            cols="12"
            class="pa-0">
            <v-text-field
              v-model="endDate"
              outlined
              dense
              :min="minDate"
              hide-details=""
              type="date"></v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </div>

    <!-- daily report -->
    <!-- <div
      v-if="filter === 'toDay'"
      class="d-flex align-center">
      <v-form>
        <v-text-field
          v-model="daily"
          outlined
          disabled
          dense
          :max="maxDate"
          hide-details=""
          type="date"></v-text-field>
      </v-form>
    </div> -->
  </div>
</template>

<script>
import dayjs from 'dayjs'

export default {
  props: {
    filter: {
      type: String,
      default: 'toDay'
    }

  },
  data () {
    return {
      daily: dayjs(new Date()).format('YYYY-MM-DD'),
      startDate: dayjs(new Date()).subtract(7, 'day').format('YYYY-MM-DD'),
      endDate: dayjs(new Date()).format('YYYY-MM-DD'),
      year: dayjs(new Date()).format('YYYY'),
      dailyFormValid: false,
      sellingFormValid: false
      // formValidate: {
      //   statrDate: [
      //     (val) => !!val || 'Required',
      //     (val) => value || 'Min 6 characters'
      //   ],
      //   password: [
      //     (val) => !!val || 'Required',
      //     (val) => (val && val.length >= 6) || 'Min 6 characters'
      //   ]
      // }
    }
  },
  computed: {
    maxDate () {
      return dayjs(new Date()).format('YYYY-MM-DD')
    },
    minDate () {
      if (this.startDate) {
        return this.startDate
      }
      return null
    }
  },
  watch: {
    startDate () {
      if (!this.startDate || !this.endDate) {
        return null
      }

      return this.$emit('dateChange', {
        startDate: this.startDate,
        endDate: this.endDate
      })
    },
    endDate () {
      if (!this.startDate || !this.endDate) {
        return null
      }

      return this.$emit('dateChange', {
        startDate: this.startDate,
        endDate: this.endDate
      })
    },
    daily () {
      return this.$emit('dateChange', {
        startDate: this.daily,
        endDate: this.daily
      })
    },

    filter () {
      if (this.filter === 'toDay') {
        return this.$emit('dateChange', {
          startDate: this.daily,
          endDate: this.daily
        })
      }

      if (this.filter === 'thisWeek') {
        return this.$emit('dateChange', {
          startDate: dayjs().startOf('week').format('YYYY-MM-DD'),
          endDate: dayjs().endOf('week').format('YYYY-MM-DD')
        })
      }

      if (this.filter === 'thisMonth') {
        return this.$emit('dateChange', {
          startDate: dayjs().startOf('month').format('YYYY-MM-DD'),
          endDate: dayjs().endOf('month').format('YYYY-MM-DD')
        })
      }

      if (this.filter === 'dateRange') {
        return this.$emit('dateChange', {
          startDate: this.startDate,
          endDate: this.endDate
        })
      }

      return null
    }
  },
  mounted () {
    // if (this.filter === 'daily') {
    //   return this.$emit('dateChange', { startDate: this.daily, endDate: this.daily })
    // }

    // return null
  }
}
</script>

<style lang="scss" scoped>

</style>
