<template>
  <div class="pa-2">
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="list-item,list-item,list-item,list-item,list-item"
      ></v-skeleton-loader>
    </div>
    <div v-else>
      <v-card
        elevation="0"
        class="pa-3"
        height="100%"
      >
        <v-divider></v-divider>
        <v-row class="ma-0 title-head">
          <v-col class="d-flex justify-center">
            Name
          </v-col>
          <v-col class="d-flex justify-end">
            Orders
          </v-col>
          <v-col class="d-flex justify-end">
            Amount
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row
          v-for="list in orderSummary"
          :key="list.name"
          class="ma-0 ">
          <v-col class="font-weight-medium text-capitalize">
            {{ list.name }}
          </v-col>
          <v-col class="d-flex justify-end">
            {{ list.orders }}
          </v-col>
          <v-col class="d-flex justify-end">
            {{ list.amount }}
          </v-col>
        </v-row>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  props: {
    orderSummary: {
      type: Array,
      default: null
    },

    loading: {
      type: Boolean,
      default: true
    }

  },
  data () {
    return {

    }
  },

  methods: {

  }
}
</script>

<style lang="scss" scoped>
.title-head{
  color: gray;
  font-size: 12px;
  font-weight: 300;
}
</style>
