<template>
  <div class="pa-2">
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"

        type="list-item,list-item,list-item,list-item,list-item"
      ></v-skeleton-loader>
    </div>
    <div v-else>
      <v-card
        elevation="0"
        class="pa-3"
      >
        <v-row class="ma-0">
          <v-col class="font-weight-medium">
            Gross Sales
          </v-col>
          <v-col class="d-flex justify-end">
            $  {{ summaryInfo.gross | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="font-weight-medium">
            Net Sales
          </v-col>
          <v-col class="d-flex justify-end">
            $ {{ summaryInfo.net | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="font-weight-medium">
            Tax
          </v-col>
          <v-col class="d-flex justify-end">
            $ {{ summaryInfo.tax | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="font-weight-medium">
            Tips
          </v-col>
          <v-col class="d-flex justify-end">
            $ {{ summaryInfo.tips | separator }}
          </v-col>
        </v-row>
        <v-row class="ma-0">
          <v-col class="font-weight-medium">
            Total
          </v-col>
          <v-col class="d-flex justify-end">
            $ {{ summaryInfo.total | separator }}
          </v-col>
        </v-row>
      </v-card>
    </div>
  </div>
</template>

<script>
export default {
  filters: {
    separator (numb) {
      const str = numb.toString().split('.')
      str[0] = str[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',')
      return str.join('.')
    }
  },
  props: {
    summaryInfo: {
      type: Object,
      default: null
    },
    reportType: {
      type: String,
      default: 'toDay'
    },
    loading: {
      type: Boolean,
      default: true
    }

  },
  data () {
    return {
      expanded: [],
      page: 1,
      searchText: '',
      menuList: [],
      categoryList: [],
      filterCategory: ''

    }
  },
  computed: {
    mainHeaders () {
      if (this.reportType === 'dateRange') {
        return this.dateRangeHeader()
      }
      return this.dailyHeader()
    }
  },
  methods: {
    dateRangeHeader () {
      return [
        {
          text: 'Date',
          value: 'createdAt',
          align: 'start'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Net',
          value: 'total'
        },
        {
          text: '%',
          value: 'percent'
        }

      ]
    },
    dailyHeader () {
      return [
        {
          text: 'Menu',
          value: 'name',
          align: 'start'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Price',
          value: 'price'
        },
        {
          text: 'Total',
          value: 'total'
        },
        {
          text: '%',
          value: 'percent'
        },
        {
          text: '',
          value: 'action'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
