<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edite Equipment' : 'Create Equipment' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"
      ></v-skeleton-loader>

      <v-form
        v-if="!loading"
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.required"
              placeholder="Input Name"
              hide-details
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Pirce
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.price.std"
              class="mr-1"
              :rules="formValidate.required"
              placeholder="Std Price"
              prefix="$"
              hide-spin-buttons
              dense
              type="number"
              outlined
              hide-details></v-text-field>
            <v-text-field
              v-model.trim="form.price.special"
              class="ml-1"
              :rules="formValidate.required"
              placeholder="Special Price"
              hide-spin-buttons
              dense
              prefix="$"
              type="number"
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Amount
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.amount"
              :rules="formValidate.required"
              placeholder="Input Amount"
              dense
              type="number"
              outlined
              hide-details></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Image
          </v-col>
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            <div
              v-for="(image , i ) in form.imageUrls"
              :key="image"
              class="d-flex mr-2">
              <div>
                <img
                  class="menu-image"
                  :src="image"
                  width="126px"
                  height="126px"
                  alt="menu image">
              </div>
              <div class="d-flex align-end">
                <BtnIcon
                  color="red"
                  icon-name="mdi-delete"
                  icon-hover="mdi-delete-empty"
                  small
                  @click="removeImage(i)" />
              </div>
            </div>

            <div class="">
              <v-file-input
                id="file-input"
                v-model="file"
                class="d-none"
                truncate-length="15"
                @change="upload"
              ></v-file-input>
              <label
                v-if="!uploadingImage"
                for="file-input">
                <div class="d-flex my-file-input align-center pa-3 text-center">
                  <div>
                    <div>
                      <v-icon
                        class="my-icon"
                        color="primary">mdi-plus-circle-outline</v-icon>
                    </div>
                    <div>
                      Add Menu Photo
                    </div>
                  </div>
                </div>

              </label>

              <div
                v-if="uploadingImage"
                class="d-flex my-file-input-loading align-center pa-3 text-center">
                <div>
                  <div>
                    Adding Menu Photo ...
                  </div>
                </div>
              </div>
            </div>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :disabled="!formValid"
              elevation="0"
              color="primary"
              :loading="processing"
              class="mr-3"
              type="submit"
            >
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/equipment/super-admin"
            >
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<script>
import ClientProvider from '@/resources/ClientProvider'
import UploadProvider from '@/resources/UploadProvider'

const clientService = new ClientProvider()
const uploadService = new UploadProvider()
export default {
  name: 'ClientAddPage',
  data () {
    return {
      loading: false,
      form: {
        name: '',
        price: {
          std: 0,
          special: 0
        },
        amount: 0,
        imageUrls: []
      },
      imageFile: null,
      uploadingImage: false,
      processing: false,
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      }

    }
  },
  computed: {
    equipmentId () {
      return this.$route?.params?.equipmentId || null
    },
    isUpdate () {
      return !!this.equipmentId
    }
  },
  mounted () {
    // if (this.isUpdate) {
    //   this.getEquipmentInfo()
    // }
  },
  methods: {
    async upload () {
      try {
        this.uploadingImage = true
        const { data } = await uploadService.uploadFile(this.imageFile)

        this.form.imageUrls.push(data.public_url)
        this.imageFile = null
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.uploadingImage = false
      }
    },
    async submit () {
      try {
        this.processing = true
        if (this.isUpdate) {
          await clientService.updateClient(
            this.clientId,
            this.form
          )
        } else {
          await clientService.createClient(this.form)
        }
        this.$router.push('/client')
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.processing = false
      }
    },
    async getClientInfo () {
      try {
        this.loading = true
        const { data } = await clientService.getClientById(this.clientId)

        this.form = data
        if (data.status === 'active') {
          this.swicthState = true
        } else {
          this.swicthState = false
        }
      } catch (err) {
        if (err.statusCode === 400) {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        } else {
          this.$notify.open({
            mode: 'alert',
            type: 'error',
            title: 'Sorry',
            icon: 'mdi-close-circle-outline',
            message: err.message || 'Something went wrong',
            confirmCallback: () => { console.log('close') }
          })
        }
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.menu-image{
  width: 126px;
height: 126px;

border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
}

.my-file-input{
  background: #FFFFFF;
border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input-loading{
  background: #FFFFFF;
border: 1px solid #d1d1d1;
color:#d1d1d1 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input:hover{
  cursor: pointer;
  background-color: #B2CC53;
  color: white !important;
  transition-duration: 500ms;

  .my-icon{
    color: white !important;
    transition-duration: 500ms;
  }

}
</style>
