<template>
  <div>
    <v-card
      elevation="1"
      class="px-8 py-3 my-card">
      <v-row class="d-flex justify-space-between ">
        <v-col
          cols="12"
          sm="6"
          class="d-flex "
          style="width:100%">
          <div class="d-flex align-center my-search-input mr-2 ">
            <v-text-field
              v-model="searchText"
              hide-details=""
              dense
              placeholder="Search"
              @keydown.enter="getEquipmentList"></v-text-field>
          </div>

          <div class="d-flex align-center ml-2">
            <v-btn
              elevation="0"
              dark
              height="40px"
              color="#1E2546"
              class="text-none font-weight-light rounded-lg"
              @click="getEquipmentList">
              Search
            </v-btn>
          </div>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="d-sm-flex align-center justify-end ">
          <v-btn
            outlined
            color="#1E2546"
            class="font-weight-light   text-none rounded-lg"
            to="/equipment/add"
          >
            <v-icon
              small
              left>
              mdi-plus-circle-outline
            </v-icon>
            Create Eqiupment
          </v-btn>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="my-card table-card">
      <v-data-table
        :headers="equipmentHeader"
        :items="equipmentData">
        <template #[`item.price`]="{ item }">
          <div class="my-2">
            <span class="font-weight-medium">Std :</span> $ {{ item.price.std }}
          </div>
          <div class="my-2">
            <span class="font-weight-medium">Special :</span> $ {{ item.price.special }}
          </div>
        </template>

        <template #[`item.action`]="{ item }">
          <div class="d-flex">
            <v-btn
              icon
              :to="`/equipment/add/${item.id}`"
            >
              <v-icon small>
                mdi-pencil-box-outline
              </v-icon>
            </v-btn>
            <DeleteEquipmentModal :equipment-info="item" />
          </div>
        </template>

        <template #[`item.image`]="{ item }">
          <img
            class="my-3"
            height="100"
            :src="item.image"
            :alt="item.name">
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import DeleteEquipmentModal from '../components/EquipmenttDeleteModal.vue'

export default {
  components: {
    DeleteEquipmentModal
  },
  data () {
    return {
      searchText: '',
      loading: true,
      equipmentHeader: [
        {
          text: 'Equipment ID',
          value: 'id'
        },
        {
          text: 'Equipment Image',
          value: 'image'
        },
        {
          text: 'Equipment Name',
          value: 'name'
        },
        {
          text: 'Price',
          value: 'price'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Action',
          value: 'action'
        }
      ],
      equipmentData: [
        {
          id: '1',
          name: 'printer',
          price: {
            std: 20,
            special: 15
          },
          amount: 12,
          image: 'https://5.imimg.com/data5/HZ/FQ/GX/ANDROID-95030540/product-jpeg-500x500.jpeg'
        },
        {
          id: '2',
          name: 'tablet',
          price: {
            std: 150,
            special: 120
          },
          amount: 20,
          image: 'https://consumer.huawei.com/content/dam/huawei-cbg-site/common/mkt/pdp/tablets/matepad.jpg'
        }
      ]
    }
  },
  mounted () {
    this.getEquipmentList()
  },
  methods: {
    async getEquipmentList () {
      try {
        this.loading = true
      } catch (err) {
        console.err(err)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.table-card {
  margin-top: 15px;
  height: 600px;
  overflow: auto;
}
</style>
