<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edite Menu Attribute' : 'Create Menu Attribute' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"
      ></v-skeleton-loader>

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit">
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Type
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              placeholder="Input Menu Type"
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3"
              type="submit"
            >
              save
            </v-btn>
            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              to="/menu/attribute"
            >
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right
    >
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          small
          text
          v-bind="attrs"
          @click="alert.visible = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import MenuProvider from '@/resources/MenuProvider'

const menuService = new MenuProvider()
export default {
  name: 'MenuAddPage',
  data () {
    return {
      loading: false,
      form: {
        name: ''
      },
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      },
      tableTypeEnum: [
      ],
      processing: false,
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      }
    }
  },
  computed: {
    menuTypeId () {
      return this.$route?.params?.menuTypeId || null
    },
    isUpdate () {
      return !!this.menuTypeId
    }
  },
  mounted () {
    if (this.isUpdate) {
      this.getMenuAttributeInfo()
    }
  },
  methods: {
    setAlert (msg, color) {
      this.alert.visible = true
      this.alert.msg = msg
      this.alert.color = color
    },
    submit () {
      if (this.isUpdate) {
        return this.updateMenuAttribute()
      }

      return this.createMenuAttribute()
    },

    async updateMenuAttribute () {
      try {
        this.processing = true
        await menuService.updateMenuAttribute(
          this.menuTypeId,
          this.form
        )

        this.$router.push('/menu/attribute')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async createMenuAttribute () {
      try {
        this.processing = true
        await menuService.createMenuAttribute(this.form)

        this.$router.push('/menu/attribute')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async getMenuAttributeInfo () {
      try {
        this.loading = true
        const { data } = await menuService.getMenuTypeById(this.menuTypeId)

        this.form = data
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
