<template>
  <div>
    <v-card class="px-12 py-5 my-card">
      <div class="text-center head-title">
        <span> {{ isUpdate ? 'Edite Menu' : 'Create Menu' }} </span>
      </div>

      <v-skeleton-loader
        v-if="loading"
        class="mt-10"
        type="article , actions"></v-skeleton-loader>

      <v-form
        v-else
        v-model="formValid"
        class="mt-10"
        @submit.prevent="submit()">
        <v-row class=" mb-3">
          <div
            v-for="(image , i ) in form.imageUrls"
            :key="image"
            class="d-flex mr-2">
            <div>
              <img
                class="menu-image"
                :src="image"
                width="126px"
                height="126px"
                alt="menu image">
            </div>
            <div class="d-flex align-end">
              <BtnIcon
                color="red"
                icon-name="mdi-delete"
                icon-hover="mdi-delete-empty"
                small
                @click="removeImage(i)" />
            </div>
          </div>

          <div class="">
            <v-file-input
              id="file-input"
              v-model="file"
              class="d-none"
              truncate-length="15"
              @change="upload"
            ></v-file-input>
            <label
              v-if="!uploadingImage"
              for="file-input">
              <div class="d-flex my-file-input align-center pa-3 text-center">
                <div>
                  <div>
                    <v-icon
                      class="my-icon"
                      color="primary">mdi-plus-circle-outline</v-icon>
                  </div>
                  <div>
                    Add Menu Photo
                  </div>
                </div>
              </div>

            </label>

            <div
              v-if="uploadingImage"
              class="d-flex my-file-input-loading align-center pa-3 text-center">
              <div>
                <div>
                  Adding Menu Photo ...
                </div>
              </div>
            </div>
          </div>
        </v-row>
        <v-row class="align-center">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Serial Number.
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.code"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              placeholder="Input Menu Name"
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10  ">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Type
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-select
              v-model.trim="form.category"
              :rules="formValidate.required"
              :items="menuCategoryList"
              menu-props="bottom, overflowY"
              class="text-capitalize"
              placeholder="Choose Menu Type"
              outlined
              multiple
              dense
              small-chips
              hide-details></v-select>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Name
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <v-text-field
              v-model.trim="form.name"
              :rules="formValidate.required"
              hide-details
              hide-spin-buttons
              placeholder="Input Menu Name"
              dense
              outlined></v-text-field>
          </v-col>
        </v-row>

        <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Price
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="7">
            <div class="">
              <v-text-field
                v-model.number="form.price"
                :rules="formValidate.required"
                placeholder="Price"
                hide-details
                dense
                type="number"
                outlined>
              </v-text-field>
            </div>
          </v-col>
        </v-row>

        <v-divider class="my-10"></v-divider>

        <v-row class="mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Option
          </v-col>
          <v-col
            cols="12"
            sm="10"
            class="px-0 py-0 d-flex">
            <div>
              <div
                v-for="(option ,i) in form.options"
                :key="i"
                class="d-flex mb-2">
                <v-text-field
                  v-model.trim="option.name"
                  class="mr-1"
                  label="Option Name"
                  :rules="formValidate.required"
                  outlined
                  dense
                  hide-details></v-text-field>
                <v-text-field
                  v-model.number="option.price"
                  :rules="formValidate.required"
                  type="number"
                  hide-spin-buttons
                  class="ml-1"
                  label="Option Price"
                  outlined
                  dense
                  hide-details></v-text-field>

                <BtnIcon
                  icon-name="mdi-delete"
                  icon-hover="mdi-delete-empty"
                  @click="removeOption(i)" />
              </div>
              <div>
                <v-btn
                  text
                  color="primary"
                  class="text-none px-0 py-0"
                  @click="addOptionField()">
                  <v-icon small>
                    mdi-plus
                  </v-icon>
                  add option
                </v-btn>
              </div>
            </div>
          </v-col>
        </v-row>
        <v-divider class="my-10 "></v-divider>
        <!-- <v-row class="align-center mt-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
            Menu Status
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-col
              cols="2"
              class="px-0 py-0">
              <span
                v-if="form.state"
                class="activeColor">Active</span>
              <span
                v-if="!form.state"
                class="suspendedColor">Disable</span>
            </v-col>
            <v-col class="px-0 py-0">
              <div class="ml-5">
                <v-switch
                  v-model="form.state"
                  dense
                  inset
                  color="#6FCF97"></v-switch>
              </div>
            </v-col>
          </v-col>
        </v-row> -->

        <v-row class="align-center mt-8 pb-10">
          <v-col
            cols="12"
            sm="2"
            class="labe-text px-0 py-0">
          </v-col>
          <v-col
            cols="12"
            class="px-0 py-0 d-flex align-center"
            sm="6">
            <v-btn
              type="submit"
              :loading="processing"
              :disabled="!formValid"
              elevation="0"
              color="primary"
              class="mr-3">
              save
            </v-btn>

            <v-btn
              v-if="!processing"
              elevation="0"
              color="primary"
              outlined
              class="ml-3"
              @click="$router.push('/menu')">
              cancel
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>

    <v-snackbar
      v-model="alert.visible"
      :color="alert.color"
      top
      right>
      <span>
        {{ alert.msg }}
      </span>
      <template #action="{ attrs }">
        <v-btn
          v-bind="attrs"
          small
          text
          @click="alert.visible = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>

import MenuProvider from '@/resources/MenuProvider'
import UploadProvider from '@/resources/UploadProvider'

const menuService = new MenuProvider()
const uploadService = new UploadProvider()
export default {
  name: 'MenuAddPage',
  data () {
    return {
      file: null,
      loading: false,
      uploadingImage: false,
      form: {
        name: '',
        code: '',
        category: [],
        imageUrls: [],
        options: []
      },
      formValid: false,
      formValidate: {
        required: [
          (val) => !!val || 'Required'
        ]
      },
      menuCategoryList: [],
      processing: false,
      alert: {
        visible: false,
        msg: '',
        color: 'error'
      }
    }
  },
  computed: {
    menuId () {
      return this.$route?.params?.menuId || null
    },
    isUpdate () {
      return !!this.menuId
    }
  },
  mounted () {
    this.getMenuCategoryList()

    if (this.isUpdate) {
      this.getMenuInfo()
    }
  },
  methods: {
    setAlert (msg, color) {
      this.alert.visible = true
      this.alert.msg = msg
      this.alert.color = color
    },
    removeImage (index) {
      this.form.imageUrls.splice(index, 1)
    },
    async upload () {
      try {
        this.uploadingImage = true
        const { data } = await uploadService.uploadFile(this.file)

        this.form.imageUrls.push(data.public_url)
        this.file = null
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.uploadingImage = false
      }
    },
    removeOption (index) {
      this.form.options.splice(index, 1)
    },
    addOptionField () {
      this.form.options.push({
        name: '',
        price: ''
      })
    },
    submit () {
      if (this.isUpdate) {
        return this.updateMenu()
      }
      return this.createMenu()
    },
    async getMenuCategoryList () {
      try {
        this.loading = true
        const { data: { results } } = await menuService.getMenuCategory({
          limit: 999
        })

        this.menuCategoryList = results.map((item) => ({
          text: item.name,
          value: item.id
        }))
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    },
    async updateMenu () {
      try {
        this.processing = true
        await menuService.updateMenu(
          `${this.menuId}`,
          this.form
        )

        this.$router.push('/menu')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async createMenu () {
      try {
        this.processing = true
        await menuService.createMenu(this.form)

        this.$router.push('/menu')
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.processing = false
      }
    },
    async getMenuInfo () {
      try {
        this.loading = true
        const {
          data
        } = await menuService.getMenuById(this.menuId)
        const category = []
        for (const each of data.category) {
          category.push(
            each.id

          )
        }
        this.form = {
          ...data,
          category
        }
      } catch (err) {
        this.setAlert(err.message || 'Something went wrong', 'error')
      } finally {
        this.loading = false
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.activeColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6FCF97;
}

.suspendedColor {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #D1D1D1
}

.labe-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1E2546;
}

.my-card {
  border-radius: 8px;
  height: 85vh;
  padding-bottom: 20px;
  overflow: auto;
}

.head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.menu-image{
  width: 126px;
height: 126px;

border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
}

.my-file-input{
  background: #FFFFFF;
border: 1px solid #B2CC53;
color:#B2CC53 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input-loading{
  background: #FFFFFF;
border: 1px solid #d1d1d1;
color:#d1d1d1 ;
border-radius: 14px;
width: 126px;
height: 126px;
font-size: 0.8rem;
}

.my-file-input:hover{
  cursor: pointer;
  background-color: #B2CC53;
  color: white !important;
  transition-duration: 500ms;

  .my-icon{
    color: white !important;
    transition-duration: 500ms;
  }

}

</style>
